<style media="screen">
  body {
    font-family: Roboto;
    margin: 20px 0 15rem 0;
    /* padding: 0 10px; */
  }

  button {
    background-color: white;
  }

  nav {
    display: flex;
    max-width: 1300px;
    align-items: center;
    margin: auto;
  }

  nav > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 157.9%;
    display: flex;
    align-items: center;
    color: #333333;
    margin-left: 20px;
    flex-grow: 1;
  }
  nav > button {
    flex-grow: 0;
    display: flex;
    border: 0px;
    font-size: 15px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    align-items: center;
    border-bottom: 2px solid brown;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: Montserrat;
  }

  nav > button > img {
    width: 15px;
    padding-left: 10px;
  }

  nav a {
    text-decoration: none;
    color: inherit;
  }

  .bold {
    font-weight: bold;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .d-none {
    display: none;
  }

  .mobile > .nav-items {
    position: absolute;
    text-align: right;
    right: 0;
    margin-top: 12px;
    border-bottom: 1px dashed #385465;
    box-sizing: border-box;
  }

  .mobile > .nav-items > * {
    text-decoration: none;
    list-style-type: none;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    width: 100vw;
    padding: 11px 15px;
    color: #385465;
    background: white;
  }

  .nav-items a, .nav-items-desktop a {
    text-decoration: none;
    color: inherit;
  }

  @media (max-width: 700px) {
    .mobile {
      display: block;
      z-index: 10;
      margin-top: -3px;
    }

    .toggler {
      margin: 0;
      border: 1px solid transparent;
      padding: 0;
      margin: 0;
    }

    .desktop {
      display: none;
    }

    nav > p {
      margin-left: 10px;
      font-size: 10px;
      margin-top: 4px;
    }

    nav > img {
      width: 34px;
    }

    .toggler.active > *:nth-child(1) {
      display: none;
    }

    .toggler.active > *:nth-child(2) {
      display: block;
    }

    .toggler > *:nth-child(2) {
      display: none;
    }

    button {
      overflow-wrap: anywhere;
    }
  }
</style>

<nav class="">

  <img src="/icons/logo.svg" alt="">

  <p>
    <a href='/'>Home</a> &nbsp / &nbsp
    {{#if tier}}
        <span class="bold">Funds Requests</span>
    {{else}}
        <a href='/tickets' >Funds Requests</a>
        <span class="bold">&nbsp / &nbsp {{page}}</span>
    {{/if}}
  </p>

  <div class="mobile">

    <button class="toggler" target-class="nav-items" type="button" name="button">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" fill="#333333"/>
      </svg>

      <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 12H13V10H0V12ZM0 7H10V5H0V7ZM0 0V2H13V0H0ZM18 9.59L14.42 6L18 2.41L16.59 1L11.59 6L16.59 11L18 9.59Z" fill="#333333"/>
      </svg>

    </button>

    <div class="nav-items d-none">
      <li><a href="/createticket">Create New Ticket</a></li>
      <li><a href="/destroySession">Destroy Session</a></li>
    </div>

  </div>

  <button class="toggle-btns desktop" type="button" name="button" onclick="window.location.assign(`/createticket`)">
    <!-- <img class="" src="/icons/edit.svg" alt=""> -->
    Create New Ticket
  </button>

  <button class="toggle-btns desktop" type="button" name="button" onclick="window.location.assign(`/destroySession`)">
    <!-- <img class="" src="/icons/delete.svg" alt=""> -->
    Destroy Session
  </button>

</nav>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

<script type="text/javascript">

  $(document).on('click','.toggler',function() {
    let target = $(this).attr('target-class');
    console.log(target);
    $(`.${target}`).toggleClass('d-none');
    console.log($(`.${target}.d-none`).length);
    if ($(`.${target}.d-none`).length > 0) return $(this).removeClass('active');
    $(this).addClass('active');
  })
</script>
