<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles.css">

    <title>Zakat Lists</title>

  </head>
  <body>
    {{>header}}


    <div class="container form-placement">
      <h4>Add people</h4>
      <p class="input-heading">Add people in your neighbourhood who are rightfully Elegible for zakat. </p>
      <button class="my-point5 btn btn-primary d-flex align-items-center" type="button" name="button">Add 1 Person</button>
      <span class="d-block divider-text">OR</span>
      <p class="input-heading mt-2">Add multiple people by uploading excel file.</p>
      <button class="mt-point5 btn btn-primary d-flex align-items-center" type="button" name="button">Download sample file here</button>
      <button class="my-point5 btn btn-primary d-flex align-items-center" type="button" name="button">Upload excel file</button>
      <button class="my-point5 btn btn-primary d-flex align-items-center" type="button" name="button">Validate</button>
      <button class="my-point5 btn btn-primary d-flex align-items-center" type="button" name="button">Uplaod</button>

    </div>



    <script type="text/javascript" src="/javascript.js"></script>

  </body>
</html>
