<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,400,400i,700,900&display=swap" rel="stylesheet">
    <style media="screen" type="text/css">
      body > * {
        max-width: 900px;
        margin: auto;
      }

      nav {
        display: flex;
        align-items: center;
        margin-left: 6rem;
      }

      nav > p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 157.9%;
        /* identical to box height, or 32px */
        display: flex;
        align-items: center;

        /* Gray 2 */
        color: #4F4F4F;

        padding-left: 10px;
      }

      .date {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 157.9%;
        /* or 28px */
        display: flex;
        align-items: center;

        /* Gray 2 */
        color: #4F4F4F;
      }

      h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 61px;
        line-height: 157.9%;
        /* or 96px */
        display: flex;
        align-items: center;

        /* Gray 2 */
        color: #4F4F4F;
      }

      .note {
        font-family: Roboto;
        font-style: italic;
        font-weight: normal;
        font-size: 26px;
        line-height: 157.9%;
        /* or 41px */
        display: flex;
        align-items: center;

        /* Gray 3 */
        color: #828282;
      }

      .quote {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 157.9%;
        /* or 41px */
        display: flex;
        align-items: center;
        color: #787878;
      }

      h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 157.9%;
        /* or 66px */
        display: flex;
        align-items: center;

        /* Gray 2 */
        color: #4F4F4F;
      }

      p {

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 184.9%;
        /* display: flex; */
        align-items: center;
        color: #696969;

      }
    </style>
  </head>
  <body>
    <nav>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 11H6.83L10.41 7.41L9 6L3 12L9 18L10.41 16.59L6.83 13H21V11Z" fill="#333333"/>
      </svg>

      <p>Quran Daily</p>
    </nav>

    <section id="blog">
      <p class="date">{{data.Date}}</p>
      {{#each data.Content}}
      {{#if (match 'h1' type)}}
      <h1>{{{msg}}}</h1>
      {{/if}}
      {{#if (match 'p' type)}}
      <p>{{{msg}}}</p>
      {{/if}}
      {{#if (match 'h3' type)}}
      <h3>{{{msg}}}</h3>
      {{/if}}

      <!-- <p class="note">I have made a commitment to read quran daily this year. Grasp its meanng. How it talks to me. Where is the Wow factor in it. I want to keep these tafaseer and discussions safe. Thus, I am starting this project where I will try to share, How I felt each day's message of Quran.</p>
      <p class="quote">
        <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M49.9993 141.667H74.9993L91.666 108.333V58.3333H41.666V108.333H66.666L49.9993 141.667ZM116.666 141.667H141.666L158.333 108.333V58.3333H108.333V108.333H133.333L116.666 141.667Z" fill="#F2F2F2"/>
        </svg>

        “If anyone observes prayer in which he does not recite Umm al-Qur'an, it is deficient [he said this three times] and not complete.” <br> - Sahih Muslim 4:773
      </p>
      <h3>Ok lets start...</h3> -->
      {{/each}}

    </section>
  </body>
</html>
