<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles.css">

    <title>Zakat Lists</title>
    <style media="screen">
    .StripeElement {
      box-sizing: border-box;

      height: 40px;

      padding: 10px 12px;

      border: 1px solid transparent;
      border-radius: 4px;
      background-color: white;

      box-shadow: 0 1px 3px 0 #e6ebf1;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
      box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
      border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
      background-color: #fefde5 !important;
    }
    </style>

  </head>
  <body>
    {{>header}}


    <div class="container form-placement">
      <h4>Check out</h4>
      <p class="amount-total d-none text-center">Pay 105.00 USD</p>
      <div class="checkout-container">
        <form action="/charge" method="get" id="payment-form">
        <div class="form-row">
          <label for="card-element">
            Credit or debit card
          </label>
          <div id="card-element" class="my-1" style="background: lavender">
            <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display form errors. -->
          <div class="error" id="card-errors" role="alert"></div>
        </div>

        <button class="btn btn-secondary mt-1">Submit Payment</button>
        </form>
      </div>
      <div class="form-grid d-none">
        <div class="heading">
          <p>Person(s)</p>
        </div>
        <div class="heading text-center">
          <p>Amount</p>
        </div>

        <div class="delete-btn">
          <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM14 1H10.5L9.5 0H4.5L3.5 1H0V3H14V1Z" fill="#173627"/>
          </svg>
        </div>
        <div class="person">
          <p>Earning 18 USD per month to support 18 family members</p>
        </div>
        <input class="form-control text-center" type="text" name="" value="" placeholder="50 USD">



        <div class="delete-btn">
          <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM14 1H10.5L9.5 0H4.5L3.5 1H0V3H14V1Z" fill="#173627"/>
          </svg>
        </div>
        <div class="person">
          <p>Earning 18 USD per month to support 18 family members</p>
        </div>
        <input class="form-control text-center" type="text" name="" value="" placeholder="50 USD">

        <div class="label">
          <p style="font-weight: normal">Processing fee</p>
        </div>

        <div class="person-amount">
          <p>5.00 USD</p>
        </div>
        <div class="label total">
          <p>Total</p>
        </div>
        <div class="person-amount">
          <p>105 USD</p>
        </div>
        <div class="person-amount">
          <button id="buy" class="btn btn-secondary" type="button" name="button">Pay Out</button>
        </div>
      </div>

    </div>



    <script type="text/javascript" src="/javascript.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">

      var stripe = Stripe('pk_test_WJQN2iDakpSKGN9Va0KeHEDT');

      $('#buy').on('click',function() {
        $(this).closest('.form-grid').hide();
        let myWidth = $('.form-grid').width();
        $('.amount-total').removeClass('d-none');
        // openCheckout(myWidth);

        $.ajax({
            url: '/checkoutURL',
            type: 'get',
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log(res);
            return stripe.redirectToCheckout({sessionId:res.id})
            // $('.upload-success').removeClass('d-none').html(res);
            // $(this).toggleClass('btn-outline-dark btn-outline-success');
          }).then((result => {
            console.log(result);
          })).fail((e) => {
            console.log(e);
            // $(this).toggleClass('btn-outline-dark btn-outline-danger');
            // let errorMsg = '';
            // $.each(JSON.parse(e.responseText),(key,val) => {
            //   errorMsg += val + '<br>'
            // })
            // $('.upload-error').removeClass('d-none').html(errorMsg);
          });



      });


      // STRIPE JS GOES HERE

      var elements = stripe.elements();

      var style = {
        base: {
          color: '#32325d',
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: 'antialiased',
          fontSize: '16px',
          '::placeholder': {
            color: '#aab7c4'
          }
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      };

      // Create an instance of the card Element.
      var card = elements.create('card', {style: style});

      // Add an instance of the card Element into the `card-element` <div>.
      card.mount('#card-element');

      // Handle real-time validation errors from the card Element.
      card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
          displayError.textContent = event.error.message;
        } else {
          displayError.textContent = '';
        }
      });

      // Handle form submission.
      var form = document.getElementById('payment-form');
      form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
          if (result.error) {
            // Inform the user if there was an error.
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
          } else {
            // Send the token to your server.
            stripeTokenHandler(result.token);
          }
        });
      });

      // Submit the form with the token ID.
      function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
      }
    </script>
  </body>
</html>
