<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <style media="screen">

      body {
        font-family: Montserrat;
        margin: 0px;
      }

      .grid {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);

      }

      .test {
        /* border: 2px solid yellow; */
      }

      .item-1 {
        grid-column: 1/2;
        grid-row: 1/2;
        /* border: 1px solid blue; */
        padding: 2rem 0px 0px 2rem;
      }

      .item-2 {
        grid-column: 2/3;
        grid-row: 2/2;
        align-self: center;
        margin-left: -5rem;
        margin-right: -7rem;
      }

      .quotes {
        margin-left: -65px;
        margin-bottom: -81px;
      }

      .item-3 {
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 0 0 2rem 2rem;
      }

      .item-3 > .text-brand {
        margin-bottom: -1rem;
        margin-top: -1rem;
      }

      .theme-gradient {
        background: linear-gradient(57.73deg, #173627 40.85%, #AF8150 115.83%);
      }

      .bg-delivered {
        background: #4E7BEF;
      }

      .bg-progress {
        background: #EF4EA9;
      }

      .bg-issues {
        background: #ED5349;
      }

      .bg-pending {
        background: #05386B;
      }

      .shadow {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      }

      .text-light {
        color: #C0C1C5;
      }

      .text-white {
        color: #FFFFFF;
      }

      .text-blue {
        color: #05386B;
      }

      .text-green {
        color: #173627;
      }

      .text-brand {
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 56px;
      }

      .text-quote {
        font-style: normal;
        font-weight: 900;
        font-size: 21px;
        line-height: 26px;
      }

      .text-menu {
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 28px;
      }

      p {
        font-style: normal;
        font-weight: medium;
        font-size: 15px;
        line-height: 18px;
      }

      .footer-headings {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 132.9%;
      }

      .nav-items {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
      }

      @media (min-width: 600px) {
        .text-brand {
          font-style: normal;
          font-weight: bold;
          font-size: 76px;
          line-height: 93px;
        }

        .text-quote {
          font-style: normal;
          font-weight: 900;
          font-size: 28px;
          line-height: 34px;
        }

        .text-menu {
          font-style: normal;
          font-weight: normal;
          font-size: 23px;
          line-height: 28px;
        }

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
        }

        .footer-headings {
          font-style: normal;
          font-weight: bold;
          font-size: 23px;
          line-height: 28px;
        }

        .nav-items {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
        }
      }


    </style>

    <title>zakat lists</title>
  </head>
  <body>
    <div class="grid theme-gradient">
      <div class="item item-1">
        <img src="/logo5.png" width="115px" alt="">
      </div>
      <div class="item item-2">
        <img class="quotes" src="/quotes.svg" width="116.67px" alt="">
        <p class="text-light text-quote">Eat from their fruits, and give the due alms on the day of harvest .
          <br><br>- Al Quran 6:141</p>
      </div>
      <div class="item item-3 text-white">
        <p class="text-menu text-light">Sign in</p>
        <p class="text-menu text-light">Explore</p>
        <p class="text-menu text-light">Calculate Zakat</p>
        <p class="text-menu text-light">Add People</p>
        <p class="text-brand text-light">Zakat Lists</p>
      </div>
    </div>
  </body>
</html>
