<!DOCTYPE html>
<html lang="en" dir="ltr"  class="producthunt">
  <head>
    {{>googleAnalytics}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Zakatlists - Home</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>


    <style media="screen">

      .producthunt {
        background: #40241b;
        color: white;
      }

      .producthunt .container {
        grid-gap: 13px;
      }

      .producthunt .card {
        background: rgb(25, 24, 24);
        color: #6f6f6f;
        border-radius: 9px;
      }

      .producthunt button.default {
        background: #40241b;
        color: #a5a5a5;
      }

      @media (max-width:1024px) {
        .producthunt .container {
          grid-gap: 5px;
        }

        .producthunt .card {
          margin-bottom: 0px;
        }
      }

      html {
        background: black;
        color: white;
      }

      .card {
        background: rgb(16, 16, 14);
        padding: 20px;
        margin: 0px;
        color: #828282;
        position: relative;
        overflow: hidden;
      }

      .card .svg {
        position: absolute;
        width: 100%;
        opacity: 0.2;
        right: -50%;
        top: 50%;
        transform: translate(0%, -50%);
        max-width: 1000px;
        pointer-events: none;
      }

      .card > p {
        font-family: Roboto;
        font-size: 16px;
        max-width: 75%;
        line-height: 1.5;
        font-weight: 300;
      }

      .card h3 {
        color: #d4d4d4;
      }

      .width-m-50 {
        width: 50%;
      }

      nav {
        max-width: 1440px;
        margin: auto;
        padding-left: 24px;
      }

      .container {
        max-width: 1440px;
        margin: auto;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(125px, auto);

        grid-gap: 24px;
      }

      h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 122.9%;
        color: #bfbaba;
      }

      h6 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 19px;
        line-height: 122.9%;

        /* Gray 3 */
        color: #828282;
      }

      a {
        text-decoration: none;
        color: #bbc1bd;
      }

      button {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        padding: 14px 12px;
        border: 1px solid transparent;
        margin: 2px;
      }

      button:hover {
        cursor: pointer;
        opacity: 0.7;
      }

      button.primary {
        background: #F2F2F2;
        color: #27AE60;
      }

      button.secondary {
        background: #27AE60;
        color: #F2F2F2;
      }

      button.default {
        background: #191818;
        color: #a5a5a5;
      }

      button.danger {
        background: #952a2a;
        color: #e4b9b9;

      }

      .w-half {
        width: 50%;
      }

      .blog.hover {
        /* background: whitesmoke; */
        /* color: black; */
        cursor: pointer;
        opacity: 0.7;
      }

      button.youtube {
        background: #ff00004f;
        color: #c7b6b6;
      }

      @media (max-width: 1024px) {


        .container {
          grid-gap: 0px;
        }

        nav {
          padding-left: 8px;
        }

        h3 {
          font-size: 28px;
        }

        p {
          font-size: 18px;
        }

        .w-m-50 {
          width: inherit;
        }
      }

      @media (max-width: 769px) {
        h3 {
          font-size: 16px;
          line-height: 150%;
        }

        h6 {
          font-size: 14px;
          line-height: 150%;
        }

        button {
          font-size: 12px;
          line-height: 8px;
          padding: 13px 9px;
        }

        p {
          font-size: 12px;
        }
      }

      @media (max-width: 500px) {


        h3 {
          font-size: 20px;
        }

        h6 {
          font-size: 18px;
        }

        p,a {
          font-size: 17px;
        }

        body {
          padding: 0px;
          margin: 0px;
        }
        .container {
          max-width: 98%;
          grid-template-columns: repeat(6, 1fr);
        }

        .container > div {
          grid-column: span 6;
          margin-bottom: 7px;
        }

        .container > div:not(.meetup) {
          /* border-bottom: 1px solid #5d5d5d; */
        }

        button {
          font-size: 14px;
          line-height: 13px;
          padding: 13px 12px;
        }
      }
    </style>
  </head>
  <body>
    <nav>
        <p class="brand">
          <svg width="120" height="39" viewBox="0 0 141 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M66.704 25.938V27H59V26.154L64.958 18.612H59.108V17.532H66.596V18.378L60.638 25.938H66.704Z" fill="#828282"/>
          <path d="M72.5314 17.46C73.7674 17.46 74.7154 17.772 75.3754 18.396C76.0354 19.008 76.3654 19.92 76.3654 21.132V27H75.1414V25.524C74.8534 26.016 74.4274 26.4 73.8634 26.676C73.3114 26.952 72.6514 27.09 71.8834 27.09C70.8274 27.09 69.9874 26.838 69.3634 26.334C68.7394 25.83 68.4274 25.164 68.4274 24.336C68.4274 23.532 68.7154 22.884 69.2914 22.392C69.8794 21.9 70.8094 21.654 72.0814 21.654H75.0874V21.078C75.0874 20.262 74.8594 19.644 74.4034 19.224C73.9474 18.792 73.2814 18.576 72.4054 18.576C71.8054 18.576 71.2294 18.678 70.6774 18.882C70.1254 19.074 69.6514 19.344 69.2554 19.692L68.6794 18.738C69.1594 18.33 69.7354 18.018 70.4074 17.802C71.0794 17.574 71.7874 17.46 72.5314 17.46ZM72.0814 26.082C72.8014 26.082 73.4194 25.92 73.9354 25.596C74.4514 25.26 74.8354 24.78 75.0874 24.156V22.608H72.1174C70.4974 22.608 69.6874 23.172 69.6874 24.3C69.6874 24.852 69.8974 25.29 70.3174 25.614C70.7374 25.926 71.3254 26.082 72.0814 26.082Z" fill="#828282"/>
          <path d="M83.3465 22.248L81.1145 24.3V27H79.8365V13.644L81.1145 12V22.698L86.7665 17.532H88.3505L84.3005 21.402L88.7285 27H87.1625L83.3465 22.248Z" fill="#828282"/>
          <path d="M93.7833 17.46C95.0193 17.46 95.9673 17.772 96.6273 18.396C97.2873 19.008 97.6173 19.92 97.6173 21.132V27H96.3933V25.524C96.1053 26.016 95.6793 26.4 95.1153 26.676C94.5633 26.952 93.9033 27.09 93.1353 27.09C92.0793 27.09 91.2393 26.838 90.6153 26.334C89.9913 25.83 89.6793 25.164 89.6793 24.336C89.6793 23.532 89.9673 22.884 90.5433 22.392C91.1313 21.9 92.0613 21.654 93.3333 21.654H96.3393V21.078C96.3393 20.262 96.1113 19.644 95.6553 19.224C95.1993 18.792 94.5333 18.576 93.6573 18.576C93.0573 18.576 92.4813 18.678 91.9293 18.882C91.3773 19.074 90.9033 19.344 90.5073 19.692L89.9313 18.738C90.4113 18.33 90.9873 18.018 91.6593 17.802C92.3313 17.574 93.0393 17.46 93.7833 17.46ZM93.3333 26.082C94.0533 26.082 94.6713 25.92 95.1873 25.596C95.7033 25.26 96.0873 24.78 96.3393 24.156V22.608H93.3693C91.7493 22.608 90.9393 23.172 90.9393 24.3C90.9393 24.852 91.1493 25.29 91.5693 25.614C91.9893 25.926 92.5773 26.082 93.3333 26.082Z" fill="#828282"/>
          <path d="M106.075 26.424C105.835 26.64 105.534 26.808 105.174 26.928C104.826 27.036 104.461 27.09 104.076 27.09C103.188 27.09 102.505 26.85 102.025 26.37C101.545 25.89 101.305 25.212 101.305 24.336V18.612H99.6125V17.532H101.305V15.462L102.583 12V17.532H105.463V18.612H102.583V24.264C102.583 24.828 102.721 25.26 102.997 25.56C103.285 25.848 103.693 25.992 104.221 25.992C104.485 25.992 104.737 25.95 104.977 25.866C105.229 25.782 105.445 25.662 105.625 25.506L106.075 26.424Z" fill="#828282"/>
          <path d="M108.401 13.644L109.679 12V27H108.401V13.644Z" fill="#828282"/>
          <path d="M113.235 17.532H114.513V27H113.235V17.532ZM113.883 15.462C113.619 15.462 113.397 15.372 113.217 15.192C113.037 15.012 112.947 14.796 112.947 14.544C112.947 14.304 113.037 14.094 113.217 13.914C113.397 13.734 113.619 13.644 113.883 13.644C114.147 13.644 114.369 13.734 114.549 13.914C114.729 14.082 114.819 14.286 114.819 14.526C114.819 14.79 114.729 15.012 114.549 15.192C114.369 15.372 114.147 15.462 113.883 15.462Z" fill="#828282"/>
          <path d="M120.607 27.09C119.839 27.09 119.101 26.982 118.393 26.766C117.697 26.538 117.151 26.256 116.755 25.92L117.331 24.912C117.727 25.224 118.225 25.482 118.825 25.686C119.425 25.878 120.049 25.974 120.697 25.974C121.561 25.974 122.197 25.842 122.605 25.578C123.025 25.302 123.235 24.918 123.235 24.426C123.235 24.078 123.121 23.808 122.893 23.616C122.665 23.412 122.377 23.262 122.029 23.166C121.681 23.058 121.219 22.956 120.643 22.86C119.875 22.716 119.257 22.572 118.789 22.428C118.321 22.272 117.919 22.014 117.583 21.654C117.259 21.294 117.097 20.796 117.097 20.16C117.097 19.368 117.427 18.72 118.087 18.216C118.747 17.712 119.665 17.46 120.841 17.46C121.453 17.46 122.065 17.544 122.677 17.712C123.289 17.868 123.793 18.078 124.189 18.342L123.631 19.368C122.851 18.828 121.921 18.558 120.841 18.558C120.025 18.558 119.407 18.702 118.987 18.99C118.579 19.278 118.375 19.656 118.375 20.124C118.375 20.484 118.489 20.772 118.717 20.988C118.957 21.204 119.251 21.366 119.599 21.474C119.947 21.57 120.427 21.672 121.039 21.78C121.795 21.924 122.401 22.068 122.857 22.212C123.313 22.356 123.703 22.602 124.027 22.95C124.351 23.298 124.513 23.778 124.513 24.39C124.513 25.218 124.165 25.878 123.469 26.37C122.785 26.85 121.831 27.09 120.607 27.09Z" fill="#828282"/>
          <path d="M131.862 26.424C131.622 26.64 131.322 26.808 130.962 26.928C130.614 27.036 130.248 27.09 129.864 27.09C128.976 27.09 128.292 26.85 127.812 26.37C127.332 25.89 127.092 25.212 127.092 24.336V18.612H125.4V17.532H127.092V15.462L128.37 12V17.532H131.25V18.612H128.37V24.264C128.37 24.828 128.508 25.26 128.784 25.56C129.072 25.848 129.48 25.992 130.008 25.992C130.272 25.992 130.524 25.95 130.764 25.866C131.016 25.782 131.232 25.662 131.412 25.506L131.862 26.424Z" fill="#828282"/>
          <path d="M136.726 27.09C135.958 27.09 135.22 26.982 134.512 26.766C133.816 26.538 133.27 26.256 132.874 25.92L133.45 24.912C133.846 25.224 134.344 25.482 134.944 25.686C135.544 25.878 136.168 25.974 136.816 25.974C137.68 25.974 138.316 25.842 138.724 25.578C139.144 25.302 139.354 24.918 139.354 24.426C139.354 24.078 139.24 23.808 139.012 23.616C138.784 23.412 138.496 23.262 138.148 23.166C137.8 23.058 137.338 22.956 136.762 22.86C135.994 22.716 135.376 22.572 134.908 22.428C134.44 22.272 134.038 22.014 133.702 21.654C133.378 21.294 133.216 20.796 133.216 20.16C133.216 19.368 133.546 18.72 134.206 18.216C134.866 17.712 135.784 17.46 136.96 17.46C137.572 17.46 138.184 17.544 138.796 17.712C139.408 17.868 139.912 18.078 140.308 18.342L139.75 19.368C138.97 18.828 138.04 18.558 136.96 18.558C136.144 18.558 135.526 18.702 135.106 18.99C134.698 19.278 134.494 19.656 134.494 20.124C134.494 20.484 134.608 20.772 134.836 20.988C135.076 21.204 135.37 21.366 135.718 21.474C136.066 21.57 136.546 21.672 137.158 21.78C137.914 21.924 138.52 22.068 138.976 22.212C139.432 22.356 139.822 22.602 140.146 22.95C140.47 23.298 140.632 23.778 140.632 24.39C140.632 25.218 140.284 25.878 139.588 26.37C138.904 26.85 137.95 27.09 136.726 27.09Z" fill="#828282"/>
          <path d="M1.02878 2.05693C0.825303 2.05693 0.626401 1.99661 0.457219 1.8836C0.288038 1.77059 0.156176 1.60997 0.0783107 1.42204C0.000445168 1.23411 -0.0199272 1.02732 0.0197682 0.827822C0.0594636 0.62832 0.157445 0.445064 0.301321 0.301231C0.445198 0.157397 0.628508 0.0594459 0.82807 0.0197623C1.02763 -0.0199213 1.23449 0.000445204 1.42247 0.0782872C1.61045 0.156129 1.77113 0.287951 1.88417 0.457081C1.99721 0.626211 2.05755 0.825054 2.05755 1.02847C2.05724 1.30113 1.94875 1.56255 1.75588 1.75535C1.56302 1.94816 1.30153 2.05662 1.02878 2.05693V2.05693ZM1.02878 0.171412C0.859215 0.171412 0.693462 0.221677 0.552478 0.315851C0.411494 0.410026 0.301612 0.543878 0.236724 0.700484C0.171836 0.85709 0.154858 1.02941 0.187938 1.19567C0.221017 1.36192 0.302669 1.51463 0.422566 1.63449C0.542463 1.75435 0.695221 1.83598 0.861523 1.86905C1.02783 1.90212 1.2002 1.88515 1.35686 1.82028C1.51351 1.75541 1.6474 1.64556 1.7416 1.50462C1.8358 1.36368 1.88609 1.19797 1.88609 1.02847C1.88583 0.801238 1.79543 0.58339 1.63471 0.422716C1.47398 0.262042 1.25607 0.171664 1.02878 0.171412V0.171412Z" fill="#E0E0E0"/>
          <path d="M46.794 28.7361H45.1016V27.0442H46.794V28.7361ZM45.2318 28.606H46.6638V27.1744H45.2317L45.2318 28.606Z" fill="#E0E0E0"/>
          <path d="M45.1363 38.7122C43.2825 38.422 41.5001 38.1753 39.7891 37.9718L40.448 36.6545C40.2193 36.5783 39.2282 37.3404 39.2282 37.3404L40.0668 33.5299C38.9233 33.6823 38.3897 37.569 38.3897 37.569L37.0937 36.2734L37.7317 37.7403C32.4959 37.1903 27.9779 37.0186 24.18 37.058L24.7439 35.9305C24.5152 35.8543 23.5242 36.6164 23.5242 36.6164L24.3628 32.8059C23.2193 32.9583 22.6856 36.845 22.6856 36.845L21.3897 35.5494L22.0654 37.103C19.4638 37.1786 16.8679 37.3876 14.2878 37.7292C14.8506 35.9767 16.8157 34.292 16.8157 34.292C15.3047 34.7619 14.5186 35.5275 14.1117 36.2372C14.0294 32.6367 14.5835 29.05 15.7484 25.6421C15.7484 25.6421 12.6991 32.501 13.1565 37.0736L13.2145 37.8859C10.5616 38.2996 9.23047 38.7122 9.23047 38.7122H45.1363Z" fill="#E0E0E0"/>
          <path opacity="0.3" d="M26.3385 29.5002C32.9199 29.5002 38.2551 24.1665 38.2551 17.5871C38.2551 11.0077 32.9199 5.67407 26.3385 5.67407C19.7571 5.67407 14.4219 11.0077 14.4219 17.5871C14.4219 24.1665 19.7571 29.5002 26.3385 29.5002Z" fill="#27AE60"/>
          <path d="M21.4422 2.4314L13.5078 12.0555L25.2507 25.9101L33.0793 16.709L21.4422 2.4314Z" fill="#27AE60"/>
          <path opacity="0.1" d="M21.4422 2.4314L13.5078 12.0555L25.2507 25.9101L33.0793 16.709L21.4422 2.4314Z" fill="black"/>
          <path d="M13.8242 12.1613C13.9997 11.8455 14.2174 11.555 14.4711 11.2978L21.7586 3.91202C21.7586 3.91202 24.2976 3.48898 24.8266 4.75809L15.5169 12.3728L13.8242 12.1613Z" fill="#F2F2F2"/>
          <path d="M13.457 12.0026L24.2478 28.5012C24.2478 28.5012 25.3057 29.2415 26.3636 28.8185L37.4189 21.3624L25.676 3.59473L15.0968 11.844L13.457 12.0026Z" fill="#27AE60"/>
          <path d="M13.457 12.0026L24.2478 28.5012C24.2478 28.5012 25.3057 29.2415 26.3636 28.8185L37.4189 21.3624L25.676 3.59473L15.0968 11.844L13.457 12.0026Z" fill="#27AE60"/>
          <path d="M24.3572 6.1695L17.5859 11.0337L17.686 11.1729L24.4572 6.30869L24.3572 6.1695Z" fill="#3F3D56"/>
          <path d="M17.4946 12.8543L17.3516 12.9489L26.2381 26.3804L26.3811 26.2859L17.4946 12.8543Z" fill="#3F3D56"/>
          <path d="M34.5086 21.3981L27.3164 26.6882L27.418 26.8263L34.6102 21.5362L34.5086 21.3981Z" fill="#3F3D56"/>
          <path d="M25.6407 6.40135L25.5 6.49924L34.7039 19.7192L34.8446 19.6213L25.6407 6.40135Z" fill="#3F3D56"/>
          <path d="M22.7971 3.80717L14.4258 11.4878L14.4973 11.5657L22.8686 3.88505L22.7971 3.80717Z" fill="#3F3D56"/>
          <path d="M23.4952 3.87301L14.7461 11.5945L14.8161 11.6738L23.5652 3.95233L23.4952 3.87301Z" fill="#3F3D56"/>
          <path d="M24.0394 4.02692L14.957 11.5952L15.0248 11.6765L24.1071 4.1082L24.0394 4.02692Z" fill="#3F3D56"/>
          </svg>
        </p>
    </nav>

    <div class="container">

    {{#each data}}

    {{#if (match 'featured_blog' type)}}
      {{>featured_blog}}
    {{/if}}

    {{#if (match 'person' type)}}
      {{>person}}
    {{/if}}

    {{#if (match 'blog' type)}}
      {{>blog}}
    {{/if}}

    {{#if (match 'course' type)}}
      {{>course}}
    {{/if}}

    {{#if (match 'signin' type)}}
      {{>signin session=../session}}
    {{/if}}

    {{#if (match 'meetup' type)}}
      {{>meetup}}
    {{/if}}

    {{#if (match 'subscribe' type)}}
      {{>subscribe}}
    {{/if}}

    {{#if (match 'video' type)}}
      {{>video}}
    {{/if}}

    {{#if (match 'footer' type)}}
      {{>footer}}
    {{/if}}

    {{/each}}

    </div>

    <script type="text/javascript">
      $(document).on('mouseenter mouseleave','.card',function() {
        $(this).toggleClass('hover');
      })

      function goto(msg) {
        window.location.href = msg;
      }

    </script>
  </body>
</html>
