<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <style media="screen">

      * {
        margin: 0px;
        padding: 0px;
        transition: all 0.25s ease-in-out, padding 0s linear;
      }

      .form-control:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      body {
        font-family: 'Montserrat', sans-serif;
        margin: 0px;
      }

      .container {
        max-width: 1400px;
        margin: auto;
      }

      #hero {
        height: 100vh;
      }

      .grid {
        display: grid;
        height: 100%;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);

      }

      .item-1 {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 2rem 0px 0px 2rem;
      }

      .item-2 {
        grid-column: 1/4;
        grid-row: 2/2;
        align-self: center;
        padding: 0 1rem 0 1rem;
      }

      .item-2 > img {
        margin-bottom: -51px;
      }

      .item-3 {
        grid-column: 1/4;
        grid-row: 3/4;
        padding: 0 0 2rem 2rem;
        align-self: end;
      }

      .item-3 > .text-brand {
        margin-bottom: -1rem;
      }

      .theme-gradient {
        background: linear-gradient(57.73deg, #173627 40.85%, #AF8150 115.83%);
      }

      .bg-primary {
        background: #173627;
      }

      .bg-delivered, .bg-done {
        background: #4E7BEF;
      }

      .bg-inprogress {
        background: #EF4EA9;
      }

      .bg-issue {
        background: #ED5349;
      }

      .bg-pending {
        background: #05386B;
      }

      .shadow {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      }

      .text-light {
        color: #C0C1C5;
      }

      .text-white {
        color: #FFFFFF;
      }

      .text-blue {
        color: #05386B;
      }

      .text-green {
        color: #173627;
      }

      .text-brand {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 56px;
      }

      .item-2 > p {
        font-style: normal;
        font-weight: 800;
        font-size: 21px;
        line-height: 26px;
        padding-left: 2rem;
      }

      .nav-item {
        font-style: normal;
        font-weight: normal !important;
        font-size: 23px;
        line-height: 28px;
        cursor: pointer;
      }

      p {
        font-style: normal;
        font-weight: medium;
        font-size: 15px;
        line-height: 18px;
        margin: 0.4rem 0;
      }

      .my-1 {
        margin: 1rem 0;
      }

      .my-point5 {
        margin: 0.5rem 0;
      }

      .footer-headings {
        font-style: normal;
        font-size: 20px;
        line-height: 132.9%;
      }

      .font-weight-bold {
        font-weight: bold;
      }

      .font-name {
        font-size: 18px;
        font-weight: bolder;
      }

      .nav-items {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
      }

      .d-none {
        display: none !important;
      }

      .d-block {
        display: block;
      }

      .d-md-block {
        display: none;
      }

      .item-1 > img {
        width: 72px;
      }

      .border-offwhite {
        border-color: #C0C1C5;
      }

      .border-bottom {
        border-bottom: 2px solid;
      }

      .item-4 {
        grid-column: 3/4;
        grid-row: 1/2;
        padding: 60px 2rem 0px 0px;
        text-align: right;
      }

      .item-4 > img {
        width: 24.2px;
      }

      .nav-menu {
        position: fixed;
        z-index: -2;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 0;
        overflow: hidden;
      }

      .d-flex {
        display: flex;
        justify-content: center;
      }

      .align-items-center {
        align-items: center;
      }

      .align-items-start {
        align-items: start;
      }

      .justify-content-start {
        justify-content: flex-start;
      }

      .justify-content-center {
        justify-content: center;
      }

      .flex-col {
        flex-direction: column;
      }

      .flex-row {
        flex-direction: row;
      }

      .nav-menu > .my-2 {
        font-size: 15px;
        font-weight: normal;
        white-space: nowrap;
      }

      .nav-menu > img {
        position: absolute;
        top: 60px;
        right: 32px;
        width: 19.23px;
      }

      .justify-content-between {
        justify-content: space-between;
      }

      .justify-content-around {
        justify-content: space-around;
      }

      .px-point5 {
        padding: 0 0.5em;
      }

      .align-self-center {
        align-self: center;
      }

      .ml-2 {
        margin-left: 2rem;
      }

      .mr-2 {
        margin-right: 2rem;
      }

      .ml-point5 {
        margin-left: 0.5rem;
      }

      .h-100vh {
        height: 200vh;
      }

      .nav-bar {
        z-index: 10;
      }

      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

      .sticky + #content {
        padding-top: 90px;
      }

      .px-2 {
        padding: 0 2rem;
      }

      .pt-2 {
        padding-top: 2rem;
      }

      .btn {
        padding: 0.5rem 1rem;
        font-size: 15px;
        white-space: nowrap;
      }

      .btn:hover {
        background: #d4fce8;
        cursor: pointer;
      }

      .btn:active, .btn:focus {
        outline: none;
        background: #173627;
        color: #FFFFFF;
      }

      .btn-primary {
        font-weight: bold;
        border: 1px solid #173627;
        background: white;
      }

      .pr-1 {
        padding-right: 1rem;
      }

      .pl-1 {
        padding-left: 1rem;
      }

      .ml-1 {
        margin-left: 1rem;
      }

      .badge {
        font-size: 8px;
        padding: 2px 5px;
      }

      .overflow-hidden {
        overflow: hidden;
      }

      .overflow-scroll {
        overflow: scroll;
      }

      .flex-wrap {
        flex-wrap: wrap;
      }

      .flex-grow-1 {
        flex-grow: 1;
      }

      #content .overflow-scroll::-webkit-scrollbar {
          display: none;
      }

      .border {
        border: 1px solid #173627;
      }

      .w-100 {
        width: 100%;
      }

      .form-control {
        padding: 0.5rem 1rem;
        font-size: 15px;
        white-space: nowrap;
        border: none;
      }

      .search-bar > input::placeholder {
        color: #173627;
        font-size: 15px;
        font-weight: bold;
      }

      .search-bar > input {
        margin-right: -41px;
      }

      .mt-2 {
        margin-top: 2rem;
      }

      .content-grid {
        display: grid;
        grid-auto-rows: 199px;
        grid-auto-columns: minmax(165px,332px);
        grid-gap: 0.5rem;
        grid-template-columns: repeat(2,1fr);
      }

      .content-grid > .card {
        position: relative;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 17px auto auto;
        grid-gap: 0px;
      }

      .place-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      .place-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      .place-3 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }

      .place-3 img:nth-child(2) {
        margin-left: 0.3rem;
      }

      .place-4 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        align-self: center;
      }

      .place-4 img {
        padding-top:2px;
      }

      .place-4 .font-name {
        margin-left: 0.3rem;
        font-size: 20px;
      }

      .place-5 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        align-self: center;
        padding-bottom: 5px;
      }

      .report-badge {
        padding: 2px 8px;
        font-weight: bold;
        font-size: 11px;
      }

      .text-right {
        text-align: right;
      }

      .px-1 {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .pt-1 {
        padding-top: 1rem;
      }

      .font-card {
        font-size: 12px;
        font-weight: medium;
      }

      .mt-1 {
        margin-top: 1rem;
      }

      .rounded-circle {
        border-radius: 50%;
      }

      .badge-secondary {
        border: 2px solid #05386B;
      }

      .card-hover {
        position: absolute;
        height: 0%;
        align-self: end;
        display: grid;
        grid-template-rows: 1fr, 1fr;
        grid-template-columns: 1fr;
      }

      .card-hover > svg {
        display: none;
        grid-row: 1/2;
        margin-left: 0.3rem;
        align-self: center;
      }

      .card-hover > p {
        display: none;
        grid-row: 2/3;
        font-weight: bold;
        font-size: 12px;
        word-wrap: normal;
        align-self: center;
      }

      .card-active {
        padding: 1rem;
        height: 48%;
      }

      .card-active > p, .card-active > svg {
        display: inline-block !important;
      }

      @media (min-width: 600px) {

        .content-grid {
          grid-template-columns: repeat(4,1fr);
          grid-gap: 1rem;
        }

        .content-grid > .card {
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          padding: 1rem;
        }

        .px-md-2 {
          padding-left: 2rem;
          padding-right: 2rem;
        }

        .pt-md-2 {
          padding-top: 2rem;
        }

        .font-card {
          font-size: 14px;
        }

        .card-hover > p {
          font-weight: bold;
          font-size: 15px;
        }

        .ml-md-point5 {
          margin-left: 0.5rem;
        }

        .search-bar > input::placeholder {
          font-size: 18px;
        }

        .form-control {
          padding: 0.6rem 1rem;
        }

        .text-brand {
          font-style: normal;
          font-weight: bold;
          font-size: 76px;
          line-height: 93px;
        }

        .item-2 > p {
          font-style: normal;
          font-weight: 900;
          font-size: 28px;
          line-height: 34px;
          padding-left: 0rem;
        }

        .nav-item {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 18px;
        }

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
        }

        .footer-headings {
          font-style: normal;
          font-weight: bold;
          font-size: 23px;
          line-height: 28px;
        }

        .nav-items {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
        }

        .d-md-none {
          display: none;
        }

        .d-md-block {
          display: block !important;
        }

        .item-2 {
          grid-column: 2/3;
          grid-row: 2/3;
          align-self: center;
          margin-left: -5rem;
          margin-right: -7rem;
        }

        .item-2 > img {
          margin-left: -65px;
        }

        .item-1 > img {
          width: 115px;
        }

        .d-md-flex {
          display: flex !important;
        }

        .btn {
          font-size: 18px;
        }

        .badge {
          font-size: 11px;
        }

      }


    </style>

    <title>zakat lists</title>
  </head>
  <body>
    <section id="hero">
      <div class="grid theme-gradient">
        <div class="item-1">
          <img src="/logo5.png" alt="">
        </div>
        <div class="item-2">
          <img src="/quotes.svg" width="116.67px" alt="">
          <p class="text-light">Eat from, and give the due alms on the day of harvest .
            <br><br>- Al Quran 6:141</p>
        </div>
        <div class="item-3 text-white">
          <div class="d-md-flex d-none flex-col justify-content-start">
            <p class="nav-item text-light my-1">Sign in</p>
            <p class="nav-item text-light my-1">Explore</p>
            <p class="nav-item text-light my-1">Calculate Zakat</p>
            <p class="nav-item text-light my-1">Add People</p>
          </div>
          <p class="text-brand text-light">Zakat Lists</p>
        </div>
        <div class="item-4 d-md-none">
          <img onclick="opennav()" id="nav-open-icon" src="/nav-icon.svg" alt="">
        </div>
      </div>

      <div class="nav-menu d-flex flex-col align-items-center justify-content-center theme-gradient">
        <img id="nav-close-icon" src="/nav-close-icon.svg" alt="" onclick="closenav()">
        <p class="nav-item text-light my-2">Sign in</p>
        <p class="nav-item text-light my-2">Explore</p>
        <p class="nav-item text-light my-2">Calculate Zakat</p>
        <p class="nav-item text-light my-2">Add People</p>
        <p class="nav-item text-light my-2">Search</p>
      </div>
    </section>

    <div class="nav-bar theme-gradient ">
      <div class="container d-flex justify-content-between align-items-center">
        <div class="logo-area d-flex flex-row">
          <img class="ml-2 my-point5 nav-bar-logo" src="/logo5.png" width="42px" height="42px" alt="">
          <p class="ml-point5 align-self-center text-light">Zakat Lists</p>
        </div>
        <div class="d-md-flex justify-content-around mr-2 d-none">
          <p class="text-light px-point5 align-self-center">Sign in</p>
          <p class="text-light px-point5 align-self-center">Explore</p>
          <p class="text-light px-point5 align-self-center">Calculate Zakat</p>
          <p class="text-light px-point5 align-self-center">Add People</p>
        </div>
        <div class="d-md-none mr-2 d-flex align-items-center justify-content-center">
          <img onclick="opennav()" id="nav-open-icon" src="/nav-icon.svg" alt="">
        </div>
      </div>
    </div>

    <section id="content" class="container pt-md-2 pt-1 px-1 px-md-2">
      <p class="text-brand text-green">Filter Lists</p>
      <div class="d-flex flex-wrap justify-content-start align-items-center">
        <div class="d-flex justify-content-start overflow-scroll">
          <button class="btn btn-primary d-flex align-items-center" type="button" name="button">Show All <span class="ml-point5 badge bg-primary text-white">248</span> </button>
          <button class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">My List <span class="ml-point5 badge bg-primary text-white">148</span> </button>
          <button class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">Delivered <span class="ml-point5 badge bg-delivered text-white">28</span> </button>
          <button class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">Pending <span class="ml-point5 badge bg-pending text-white">18</span> </button>
          <button class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">In progress <span class="ml-point5 badge bg-inprogress text-white">81</span> </button>
          <button class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">Issues <span class="ml-point5 badge bg-issue text-white">8</span> </button>
        </div>

        <div class="ml-md-point5 d-flex justify-content-start border my-point5 search-bar flex-grow-1">
          <input class="form-control flex-grow-1" type="text" name="" value="" placeholder="Search">
          <img class="px-point5" src="/search-icon.svg" width="25px" alt="">
        </div>
      </div>

      <style media="screen">


      </style>

      <div class="content-grid pt-md-2 pt-1">

        <style media="screen">

          .place-2 {
            position: relative;
          }
          .place-2 > img {
            padding: 8px 8px;
            /* border: 1px solid #EAEAEA; */
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 5;
            margin-top: -3px;
          }

          .place-2 > img:hover {
            background-color: #bfbfbf;
          }

          .place-2 > .active {
            background: #EAEAEA;
          }

          .card-browser {
            position: absolute;
            width: 100%;
            height: 100%;
          }

          .align-items-end {
            align-items: flex-end;
          }



          .alpha60 {
              /* Fallback for web browsers that don't support RGBa */
              background-color: rgb(0, 0, 0);
              /* RGBa with 0.6 opacity */
              background-color: rgba(0, 0, 0, 0.6);
              /* For IE 5.5 - 7*/
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              /* For IE 8*/
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
          }

          .card-browser button {
            border: 0px;
            font-size: 11px;
            font-weight: bold;
            padding: 5px 10px;
            background-color: white;
            margin: 0.3rem 0;
            cursor: pointer;
          }

          .card-browser button:hover {
            background-color: #bfbfbf;
          }

          .card-browser > div {
            padding: 1rem;
            margin-top: 1.5rem;
          }

          .card-select {
            z-index: 5;
            width: 16px;
            height: 16px;
            border: 1px solid #05386B;
            padding: 0 0 0 2px;
            cursor: pointer;
          }

          .active {
            background-color: #bfbfbf;
          }

          .card-selected {
            background-color: #173627;

          }

          .card-selected .report-badge:nth-child(1) {
            display: none;
          }

          .card-selected .report-badge:nth-child(2) {
            background-color: white;
          }

          .card-selected .check-box:nth-child(1) {
            margin-left: 0px;
          }


        </style>

        {{#each data}}

          <div class="card card-selected">

            <div class="place-1 d-flex justify-content-start align-items-center">

              <span class="report-badge text-white">{{this.cardClass}}</span>
              <span class="check-box ml-point5 card-select">
                <svg class="check-box" width="13" height="13" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="check-box" d="M5.12512 8.04543L1.82387 5.5L0.699707 6.61625L5.12512 11.0417L14.6251 1.54166L13.5089 0.425415L5.12512 8.04543Z" fill="#bfbfbf"></path>
                </svg>
              </span>

            </div>

            <div class="place-2 text-right">
              <img class="" src="/browse-icon.svg" alt="">
            </div>
            <div class="place-3">
              <div class="d-flex justify-content-start mt-1">
                <img src="home-icon.svg" width="16px" alt="">
                <img src="phone-icon.svg" width="16px" alt="">
              </div>
              <p class="font-card">
                Earning <br class="d-md-none">
                <span class="report-badge text-white bg-pending">100 USD per Month</span><br>
                to support <br class="d-md-none">
                <span class="report-badge text-white bg-pending">9 Family Members.</span>
              </p>
            </div>
            <div class="place-4 d-flex justify-content-start">
              <img src="locked-icon.svg" width="14px" alt="">
              <span class="font-name">Name</span>
            </div>
            <div class="place-5 text-right">
              <span class="badge badge-secondary font-weight-bold">Q</span>
            </div>

            <div class="card-hover bg-pending text-light">
              <svg width="16" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 7H13V5C13 2.24 10.76 0 8 0C5.24 0 3 2.24 3 5V7H2C0.9 7 0 7.9 0 9V19C0 20.1 0.9 21 2 21H14C15.1 21 16 20.1 16 19V9C16 7.9 15.1 7 14 7ZM8 16C6.9 16 6 15.1 6 14C6 12.9 6.9 12 8 12C9.1 12 10 12.9 10 14C10 15.1 9.1 16 8 16ZM11.1 7H4.9V5C4.9 3.29 6.29 1.9 8 1.9C9.71 1.9 11.1 3.29 11.1 5V7Z" fill="white"/>
              </svg>
              <p class="text-white">Contact details and Name will be visible after paying zakat.</p>
            </div>

            <div class="card-browser alpha60 d-none">
              <div class="d-flex align-items-end flex-col">
                <button class="text-blue" type="button" name="button">Edit</button>
                <button class="text-blue" type="button" name="button">Delete</button>
                <button class="text-blue" type="button" name="button">Select to Pay Zakat</button>
                <button class="text-blue" type="button" name="button">Report an issue</button>
              </div>
            </div>

          </div>

          <script type="text/javascript">
            $('.place-1:eq(-1)').children('span:eq(0)').addClass('bg-'+`{{this.cardClass}}`.replace(/ /g,'').toLowerCase());
          </script>

        {{/each}}

      </div>
    </section>


    <script type="text/javascript">

      $('.card-select').on('mouseenter mouseleave',function() {
        $(this).closest('.card').toggleClass('active');
      })

      $('.card-select').on('click',function(){
        // TODO: add function here
      })

      $('.place-2 > img').on('click',function() {
        $('.place-2 > img').not(this).removeClass('active').parent().siblings('.card-browser').addClass('d-none');
        $(this).toggleClass('active');
        $(this).parent().siblings('.card-browser').toggleClass('d-none');
      })

      $('.card-browser').on('click',function(e){
        if (e.target.nodeName == 'BUTTON') return 'not this';
        $(this).addClass('d-none');
      })

      $('.card').on('click',function(e) {
        console.log(e.target);
        console.log($(e.target).hasClass('card-browser'));
        if (e.target.nodeName == 'IMG' || e.target.nodeName == 'BUTTON' || $(e.target).hasClass('check-box')) return console.log('open browser');
        $('.place-2 > img').removeClass('active');
        $('.card').not(this).find('.card-hover').removeClass('card-active');
        $(this).find('.card-hover').addClass('card-active');
      })

      function opennav() {
        $('.nav-menu').css({'z-index': '2',opacity: 1})
      }

      function closenav() {
        $('.nav-menu').css({'z-index': '-2', opacity: 0});
      };

      $('.nav-item').on('mouseenter mouseleave',function(){
        $(this).toggleClass('text-offwhite text-white');
      });

      window.onscroll = function() {myFunction()};

      var sticky = $('.nav-bar:eq(0)').offset().top;


      function myFunction() {
        if (window.pageYOffset >= sticky) {
          $('.nav-bar').addClass('sticky');
          console.log(sticky);
        } else {
          $('.nav-bar').removeClass('sticky');
        }
      }


    </script>

  </body>
</html>
