<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <style media="screen">

      * {
        margin: 0px;
        padding: 0px;
        transition: all 0.25s ease-in-out;
      }

      body {
        font-family: Montserrat;
        margin: 0px;
      }

      #hero {
        height: 100vh;
      }

      .grid {
        display: grid;
        height: 100%;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);

      }

      .test {
        /* border: 2px solid yellow; */
      }

      .item-1 {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 2rem 0px 0px 2rem;
      }

      .item-2 {
        grid-column: 1/4;
        grid-row: 2/2;
        align-self: center;
        padding: 0 1rem 0 1rem;
      }

      .item-2 > img {
        margin-bottom: -51px;
      }

      .item-3 {
        grid-column: 1/4;
        grid-row: 3/4;
        padding: 0 0 2rem 2rem;
        align-self: end;
      }

      .item-3 > .text-brand {
        margin-bottom: -1rem;
      }

      .theme-gradient {
        background: linear-gradient(57.73deg, #173627 40.85%, #AF8150 115.83%);
      }

      .bg-delivered {
        background: #4E7BEF;
      }

      .bg-progress {
        background: #EF4EA9;
      }

      .bg-issues {
        background: #ED5349;
      }

      .bg-pending {
        background: #05386B;
      }

      .shadow {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      }

      .text-light {
        color: #C0C1C5;
      }

      .text-white {
        color: #FFFFFF;
      }

      .text-blue {
        color: #05386B;
      }

      .text-green {
        color: #173627;
      }

      .text-brand {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 56px;
      }

      .item-2 > p {
        font-style: normal;
        font-weight: 800;
        font-size: 21px;
        line-height: 26px;
        padding-left: 2rem;
      }

      .nav-item {
        font-style: normal;
        font-weight: normal !important;
        font-size: 23px;
        line-height: 28px;
        cursor: pointer;
      }

      p {
        font-style: normal;
        font-weight: medium;
        font-size: 15px;
        line-height: 18px;
        margin: 0.4rem 0;
      }

      .my-2 {
        margin: 1rem 0;
      }

      .footer-headings {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 132.9%;
      }

      .nav-items {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
      }

      .d-none {
        display: none !important;
      }

      .d-block {
        display: block;
      }

      .d-md-block {
        display: none;
      }

      .item-1 > img {
        width: 72px;
      }

      .border-offwhite {
        border-color: #C0C1C5;
      }

      .border-bottom {
        border-bottom: 2px solid;
      }

      @media (min-width: 600px) {
        .text-brand {
          font-style: normal;
          font-weight: bold;
          font-size: 76px;
          line-height: 93px;
        }

        .item-2 > p {
          font-style: normal;
          font-weight: 900;
          font-size: 28px;
          line-height: 34px;
          padding-left: 0rem;
        }

        .nav-item {
          font-style: normal;
          font-weight: normal;
          font-size: 23px;
          line-height: 28px;
        }

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
        }

        .footer-headings {
          font-style: normal;
          font-weight: bold;
          font-size: 23px;
          line-height: 28px;
        }

        .nav-items {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
        }

        .d-md-none {
          display: none;
        }

        .d-md-block {
          display: block !important;
        }

        .item-2 {
          grid-column: 2/3;
          grid-row: 2/3;
          align-self: center;
          margin-left: -5rem;
          margin-right: -7rem;
        }

        .item-2 > img {
          margin-left: -65px;
        }

        .item-1 > img {
          width: 115px;
        }

      }

      .item-4 {
        grid-column: 3/4;
        grid-row: 1/2;
        padding: 60px 2rem 0px 0px;
        text-align: right;
      }

      .item-4 > img {
        width: 24.2px;
      }

      .nav-menu {
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 0;
        overflow: hidden;
      }

      .d-flex {
        display: flex;
        justify-content: center;
      }

      .align-items-center {
        align-items: center;
      }

      .align-items-start {
        align-items: start;
      }

      .justify-content-start {
        justify-content: flex-start;
      }

      .justify-content-center {
        justify-content: center;
      }

      .flex-col {
        flex-direction: column;
      }

      .flex-row {
        flex-direction: row;
      }

      .nav-menu > .my-2 {
        font-size: 18px;
        font-weight: normal;
        white-space: nowrap;
      }

      .nav-menu > img {
        position: absolute;
        top: 60px;
        right: 32px;
        width: 19.23px;
      }


    </style>

    <title>zakat lists</title>
  </head>
  <body>
    <section id="hero">
      <div class="grid theme-gradient">
        <div class="item-1">
          <img src="/logo5.png" alt="">
        </div>
        <div class="item-2">
          <img src="/quotes.svg" width="116.67px" alt="">
          <p class="text-light">Eat from their fruits, and give the due alms on the day of harvest .
            <br><br>- Al Quran 6:141</p>
        </div>
        <div class="item-3 text-white">
          <div class="d-flex flex-col justify-content-start">
            <p class="nav-item text-light d-none d-md-block my-1">Sign in</p>
            <p class="nav-item text-light d-none d-md-block my-1">Explore</p>
            <p class="nav-item text-light d-none d-md-block my-1">Calculate Zakat</p>
            <p class="nav-item text-light d-none d-md-block my-1">Add People</p>
          </div>
          <p class="text-brand text-light">Zakat Lists</p>
        </div>
        <div class="item-4 d-md-none">
          <img onclick="opennav()" id="nav-open-icon" src="/nav-icon.svg" alt="">
        </div>
      </div>

      <div class="nav-menu d-flex flex-col align-items-center justify-content-center theme-gradient">
        <img id="nav-close-icon" src="/nav-close-icon.svg" alt="" onclick="closenav()">
        <p class="nav-item text-light my-2">Sign in</p>
        <p class="nav-item text-light my-2">Explore</p>
        <p class="nav-item text-light my-2">Calculate Zakat</p>
        <p class="nav-item text-light my-2">Add People</p>
        <p class="nav-item text-light my-2">Search</p>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript">

      function opennav() {
        $('.nav-menu').css({'z-index': '2',opacity: 1})
      }

      function closenav() {
        $('.nav-menu').css({'z-index': '-2', opacity: 0});
      };

      $('.nav-item').on('mouseenter mouseleave',function(){
        $(this).toggleClass('text-offwhite text-white');
      })


    </script>

  </body>
</html>
