<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{>googleAnalytics}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="133536550317-q6m1gun90s198i2un77l91d9qsv9cck6.apps.googleusercontent.com">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>


    <link rel=icon href=/favicon.png>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="StripeElements.css">
    <link rel="stylesheet" href="/styles.css">

    <style media="screen">
      .success-msg {
        color: darkcyan;
      }

      .px-8px {
        padding: 0 8px;
      }

      /**
      * Shows how you can use CSS to style your Element's container.
      */
      .MyCardElement {
        height: 40px;
        padding: 10px 12px;
        width: 100%;
        color: #32325d;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 4px;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
      }

      .MyCardElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
      }

      .MyCardElement--invalid {
        border-color: #fa755a;
      }

      .MyCardElement--webkit-autofill {
        background-color: #fefde5 !important;
      }
    </style>

    <title>Zakat Lists</title>

  </head>
  <body>
    {{>header}}


    <div class="container form-placement">
      <h4>Sign up</h4>

      <!-- Use the CSS tab above to style your Element's container. -->
       <form id="subscription-form">
        <div id="card-element" class="MyCardElement">
          <!-- Elements will create input elements here -->
        </div>

        <!-- We'll put the error messages in this element -->
        <div id="card-errors" role="alert"></div>
        <button type="submit">Subscribe</button>
      <form>

      <hr>
      <form class="" id="sign-up" action="" method="get">


        <div class="d-flex justify-content-start border my-point5 flex-grow-1">
          <input id="user-name" class="form-control flex-grow-1" type="text" name="user-name" value="" placeholder="Name">
        </div>
        <div class="d-flex justify-content-start border my-point5 flex-grow-1">
          <input id="user-email" class="form-control flex-grow-1" type="email" name="user-email" value="" placeholder="Email">
        </div>
        <div class="d-flex justify-content-start border my-point5 flex-grow-1">
          <input id="user-pass" class="form-control flex-grow-1" type="password" name="user-pass" value="" placeholder="Password">
        </div>
        <button id="click-sendCode" class="mt-1 mb-2 btn btn-secondary d-flex align-items-center" type="button" name="button">Get Verification Code</button>
        <p class="success-msg mb-2 d-none px-8px">Verification code sent to your email address.</p>
        <div class="d-flex justify-content-start align-items-center border my-point5 flex-grow-1" style="opacity: 0.3">
          <input id="user-code" class="form-control flex-grow-1" type="text" name="user-code" value="" placeholder="Email Verification Code" disabled>
          <p class="success-msg d-none px-8px">Verified !</p>
        </div>
        <input id="user-token" type="text" name="token" value="" class="d-none">
        <p class="error px-8px d-none">Wrong attempt 1. 4 attempts left !</p>
        <button id="click-signup" class="mt-1 mb-2 btn btn-secondary d-flex align-items-center" type="button" name="button" disabled style="opacity: 0.3">Sign Up</button>

      </form>
      <hr>
      <div class="d-flex flex-col align-items-start">
        <a class="" href="/signin/home">Sign in?</a>
        <a class="my-point5" href="/forgotpw">Forgot password?</a>
      </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>
    <script type="text/javascript" src="/javascript.js"></script>
    <!-- <script src="/client.js"></script> -->

    <script type="text/javascript">

    $('#click-sendCode').click(function(e) {
      console.log('clicked send code');

      if (!($("#sign-up").valid())) {

        return;

      }

      let data = {
        query: 'Email_Verify',
        registerNew: true,
        email: $('#user-email').val(),
      }

      data = JSON.stringify(data);

      $.ajax({
          url: '/signing',
          type: 'post',
          data,
          headers: {
              'content-type': 'application/json',
          }
        }).done((msg) => {
          console.log('successful: ', msg);
          $(this).removeClass('mb-2');
          $(`.success-msg:eq(0)`).removeClass('d-none').addClass('mb-2');
          $('#user-code').attr({disabled: false});
          // $('#click-signup').attr({disabled: false});
          $(this).siblings('div , button').css({opacity: 1});
        }).fail((e) => {
          console.log('error here', e);
          let errors = { 'user-pass': e.responseText };
          /* Show errors on the form */
          $("#sign-up").validate().showErrors(errors);
          // return $('.signup-error').html(`<i class="fas fa-exclamation-circle"></i> ` + e.responseText).closest('p').removeClass('d-none');
        });


    })

    $('#user-code').on('keyup',function() {
      if ($(this).val().length < 6) return console.log('length of input is less');
      console.log('match the test code');

      let data = {
        query: 'Test_Code',
        email: $('#user-email').val(),
        code: $('#user-code').val(),
      }

      data = JSON.stringify(data);

      $.ajax({
        url: '/signing',
        type: 'post',
        data: data,
        headers: {
          'content-type': 'application/json'
        }
      }).done((res) => {
        console.log(res);
        $(this).siblings('.success-msg').removeClass('d-none');
        $('#click-signup').attr({disabled: false});
        $('.error').addClass('d-none');
      }).fail((e) => {
        console.log(e);
        $('.error:eq(-1)').removeClass('d-none').html(e.responseText);
      })
    })

    $('#click-signup').click(function(e) {

      console.log('ok clicked');

      if (!($("#sign-up").valid())) {

        return;

      }

      console.log('valid entries');

      let data = {
        'query': 'Register',
        "name": $('#user-name').val(),
        "email": $('#user-email').val(),
        "password": $('#user-pass').val(),
        "phoneCode": $('#user-code').val(),
      };

      console.log(data);

      data = JSON.stringify(data);

      $.ajax({
          url: '/signing',
          type: 'post',
          data,
          headers: {
              'content-type': 'application/json',
          }
        }).done((token) => {
          console.log('successful: ', token);
          // $('#sign-up').attr('action',`/home/?token=${token}`);
          window.location.assign(`/home/?token=${token}`);
          // $("#sign-up").submit();
        }).fail((e) => {
          $('.error:eq(-1)').removeClass('d-none').html(e.responseText);
          console.log('error here', e);
        });

    });

    $("#sign-up").validate({

      rules: {
        'user-name' : {
          required: true,
          minlength: 2
        },
        'user-email' : {
          required: true,
          minlength: 5,
          email: true
        },
        'user-pass' : {
          required: true,
          minlength: 5
        }

      },
      messages: {
        'user-name': {
          required: "Please write your name",
          minlength: "Atleast 3 characters"
        },
        'user-email' : {
          required: "Please write your email above",
          email: "Email address is invalid",
          minlength: "Atleast 5 characters",
        },
        'user-pass' : {
          required: "Please write a strong password",
          minlength: "Atleast 5 characters",
        },
      },
      errorPlacement: function(error, element) {
        $(element).closest('div').after(error);
      },

    });

    // Set your publishable key: remember to change this to your live publishable key in production
    // See your keys here: https://dashboard.stripe.com/account/apikeys
    var stripe = Stripe('pk_test_WJQN2iDakpSKGN9Va0KeHEDT');
    var elements = stripe.elements();

    // Set up Stripe.js and Elements to use in checkout form
    var style = {
      base: {
        color: "#32325d",
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: "antialiased",
        fontSize: "16px",
        "::placeholder": {
          color: "#aab7c4"
        }
      },
      invalid: {
        color: "#fa755a",
        iconColor: "#fa755a"
      }
    };

    var cardElement = elements.create("card", { style: style });
    cardElement.mount("#card-element");

    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    var form = document.getElementById('subscription-form');

    form.addEventListener('submit', function(event) {
      // We don't want to let default form submission happen here,
      // which would refresh the page.
      event.preventDefault();

      stripe.createPaymentMethod({
        type: 'card',
        card: cardElement,
        billing_details: {
          email: 'jenny.rosen@example.com',
        },
      }).then(stripePaymentMethodHandler);
    });

    function stripePaymentMethodHandler(result, email) {
      if (result.error) {
        // Show error in payment form
        console.log(result.error);
      } else {
        // Otherwise send paymentMethod.id to your server
        fetch('/create-customer', {
          method: 'post',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({
            email: 'jenny.rosen@example.com',
            payment_method: result.paymentMethod.id
          }),
        }).then(function(result) {
          console.log(result);
         return result.json();
        }).then(function(customer) {
          console.log(customer);
          // The customer has been created
        });
      }
    }

    

    </script>

  </body>
</html>
