<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles.css">

    <title>Zakat Lists</title>
    <style media="screen">

      .bottom-contrast-div {
        margin: 0 0 -15px 0 !important;
        padding: 15px 25px;
        color: white !important;
      }

      .bottom-contrast-div > div {
        padding: 5px 25px;
      }

      .bottom-contrast-div p {
        font-weight: bold;
      }

      .info-circle {
        width: 20px;
        height: 20px;
        background: cornflowerblue;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 70%;
        cursor: pointer;
      }

      .popover {
        position: absolute;
        background: cornflowerblue;
        color: white;
        font-size: 15px;
        font-weight: normal;
        width: 300px;
        padding: 1rem;
        z-index: 100;
        line-height: 24px;
        pointer-events: none;
        opacity: 0;
      }

      .opacity-1 {
        opacity: 1;
      }

    </style>
  </head>
  <body>
    {{>header}}


    <div class="container form-placement">
      <h4>Zakat Calculator</h4>
      <hr>
      <div class="d-flex justify-content-between">
        <p>+ Zakat Elegible Assets</p>
        <p class="info-circle">!</p>
      </div>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="" value="" placeholder="Stocks in $ USD">
      </div>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="" value="" placeholder="Savings in $ USD">
      </div>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="" value="" placeholder="Investment Properties in $ USD">
      </div>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="" value="" placeholder="Cash in $ USD">
      </div>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="" value="" placeholder="Business Income in $ USD">
      </div>
      <div class="d-flex justify-content-start border my-point5 mb-2 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="" value="" placeholder="Jewelery in $ USD">
      </div>
      <hr class="">
      <p>- Zakat Liabilities</p>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="" value="" placeholder="Credit Cards Payments in $ USD">
      </div>
      <div class="d-flex justify-content-start border my-point5 mb-2 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="" value="" placeholder="Other Debt Payments in $ USD">
      </div>
      <div class="bottom-contrast-div bg-green">
        <div class="d-flex justify-content-between">
          <p class="">Nisab</p>
          <p class="nisab-text">236.00 USD</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="">Total Obligatory</p>
          <p class="total-zakat">456.00 USD</p>
        </div>
        <button class="my-point5 mt-1 ml-auto btn btn-primary d-flex align-items-center" type="button" name="button" style="margin-right:15px">Give Zakat</button>
      </div>

    </div>

    <div class="popover" >
      hello world how are you i am waiting for something amazing and I coul;dnt do it without your help.
    </div>



    <script type="text/javascript" src="/javascript.js"></script>
    <script type="text/javascript">
      $('.info-circle').on('mouseenter mouseleave', function() {

        let posn = {
          left: $(this).offset().left,
          top: $(this).offset().top,
          right: $(this).offset().right,
          bottom: $(this).offset().bottom
        };

        $('.popover').toggleClass('opacity-1');

        if ((posn.left + $('.popover').width()/2) > $(window).width()) {
          console.log('cond 1');
          return $('.popover').css({
            right: 20,
            top: posn.top - $('.popover').height() - $(this).height() - 20,
          });
        }

        $('.popover').css({
          left: posn.left - ($('.popover').width()/2),
          top: posn.top - $('.popover').height() - $(this).height() - 20,
        });


      })
    </script>
  </body>
</html>
