{{#unless data}}
  <h2 class="w-100 text-center" style="
      font-size: 91%;
      color: brown;
  ">{{message}}</h2>
{{/unless}}

<div class="content-grid">

  {{#each data}}

  {{>cards}}

  {{/each}}

</div>

{{{loadMore query count.leftBehind}}}
