<h3 style="font-size:100%;color:darkcyan;">People added by me</h3>

<div data-show="addedByMe" id="added-by-me" class="addedbyme content-grid pt-md-2 pt-1">

  {{#unless addedbyme}}
  <h2 class="w-100 text-center" style="
  grid-column: 1/-1;
  font-size: 91%;
  color: brown;
  align-self: center;
  ">Did not find any data for this filter !</h2>
  {{/unless}}


  {{#each addedbyme.people}}

  {{>cards}}

  {{/each}}

</div>

<h3 class="pt-md-2 pt-1" style="font-size:100%;color:darkcyan;">People given zakat by me</h3>

<div class="paidbeme content-grid pt-md-2 pt-1">

  {{#unless paidbyme}}
  <h2 class="w-100 text-center" style="
  grid-column: 1/-1;
  font-size: 91%;
  color: brown;
  align-self: center;
  ">Did not find any data for this filter !</h2>
  {{/unless}}

  {{#each paidbyme.people}}

    {{>cards}}

  {{/each}}

</div>
