{{#unless data}}
<h2 class="w-100 text-center" style="
    font-size: 91%;
    color: brown;
">{{message}}</h2>
{{/unless}}

<div class="content-grid">

{{#each data}}

{{>cards}}

{{/each}}


</div>

{{#if data}}

<button type="{{query.type}}" expression="{{query.expression}}" class="load-more btn btn-primary d-flex align-items-center" type="button" name="button" style="margin:2rem auto; display: block">Load More</button>

{{/if}}
