<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Enter Secret</title>
    <style media="screen">
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
    </style>
  </head>
  <body>
    <p>{{msg}}</p>
    <form class="" action="/newSession" method="get">
      <input style="display: none" type="text" name="target" value="{{target}}" placeholder="Token ID." required>
      <input type="text" name="ser" value="{{ser}}" placeholder="Token ID." required>
      <input required type="text" name="secret" value="" placeholder="Token Secret Key.">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
