<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Enter Secret</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700,900|Roboto:100,300i,400,400i,700,900&display=swap" rel="stylesheet">

    <style media="screen">

      html, body {
        font-family: Roboto;
      }

      p {
        line-height: 1.5;
        padding: 4px 8px;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      input[type="text"] {
          font-size: 15px;
          padding: 9px 12px;
          background: #f7f7f7;
          border: 1px solid transparent;
          margin: 10px 0;
      }

      button {
        font-size: 15px;
        padding: 9px 12px;
        background: green;
        color: white;
      }
    </style>
  </head>
  <body>
    <p>{{msg}}</p>
    <form class="" action="/newSession" method="get">
      <input style="display: none" type="text" name="target" value="{{target}}" placeholder="Token ID." required>
      <input type="text" name="ser" value="{{ser}}" placeholder="Token ID." required>
      <input required type="text" name="secret" value="" placeholder="Token Secret Key.">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
