<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Zakat Lists</title>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
      <div class="brand">
        <!-- <img src="/logo5.png" alt="" class="" style="height:44px"> -->
        <a href="/" class="navbar-brand">Zakat Lists</a>
      </div>
    </nav>
    <h1 class="text-center font-weight-bolder mb-4">Forgot Password</h1>

    <div class="d-flex justify-content-center px-4">

      <div class="col-lg-4 col-md-6 col-sm-8 col-12 bg-dark rounded p-3 text-light bg-shadow">

        <form role="form" id="forgotpassword" novalidate action="/home" method="get">

          <div class="form-group">

            <div class="d-flex justify-content-between align-items-center">

              <label class="level-0" for="fp-email">Your email address</label>

              <small class="text-warning pl-2 text-right"><label for="fp-email" generated="true" class="error fp-email-error"></label></small>

            </div>

            <input name="fp-email" type="text" class="level-0 form-control" id="fp-email" aria-describedby="emailHelp" placeholder="qasimali24@gmail.com" value="qasimali24@gmail.com">

            <small class="text-muted">If you do not have your email registered, please sign up.</small>

          </div>

          <button type="button" id="rx-code" class="mb-2 btn btn-light" name="button">Recieve code</button>
          <br>

          <span class="mail-notif d-none text-success"><i class="fas fa-check-circle"></i><small id="mail_sent" class="text-light"> <b> Mail sent !</b></small></span>


          <hr class="bg-info">

          <div class="form-group">

            <div class="d-flex justify-content-between align-items-center">

              <!-- <label id="level-1" class="level-1 text-muted" for="fp-code"></label> -->

              <small class="text-warning text-right"><label for="fp-code" generated="true" class="fp-error d-none"></label></small>

            </div>

            <input disabled name="fp-code" type="text" class="level-1 form-control bg-dark" id="fp-code" aria-describedby="emailHelp" placeholder="123asd" value="" maxlength="6">

            <small class="text-muted">Check your email for the code and write above.</small>
            <br>
            <span class="code-notif d-none text-success"><i class="fas fa-check-circle"></i><small id="mail_sent" class="text-light"> <b> Code Verified !</b></small></span>

          </div>

          <hr class="bg-info">

          <div class="form-group">

            <div class="d-flex justify-content-between align-items-center">
              <label class="level-2 text-muted" for="fp-pass">Password</label>
              <small class="text-warning pl-2 text-right"><label for="fp-pass" generated="true" class="error"></label></small>
            </div>

            <input disabled name="fp-pass" type="password" class="level-2 form-control bg-dark" id="fp-pass" placeholder="Password" value="pakistani">

            <small class="text-muted">Create an easy password. Np :)</small>

          </div>

          <div class="form-group">

            <div class="d-flex justify-content-between align-items-center">
              <label class="level-2 text-muted" for="fp-pass2">Confirm Password</label>
              <small class="text-warning pl-2 text-right"><label for="fp-pass2" generated="true" class="error"></label></small>
            </div>

            <input disabled name="fp-pass2" type="password" class="level-2 form-control bg-dark" id="fp-pass2" placeholder="Password" value="pakistani">

            <small class="text-muted">Please enter same as you entered in previous field.</small>

          </div>

          <p class=""><small class="d-none text-warning check-label"><label for="agreeTerms" generated="true" class="forgotpassword-error"></label></small></p>
          <button disabled type="button" id="click-forgotpassword" class="btn btn-light">Submit</button>
          <button type="button" id="login-forgotpassword" class="signIn btn btn-outline-light">Log In</button>
          <button type="button" class="signUp btn btn-outline-light">Sign Up</button>
          <div class="mt-2 pb-0 d-none password-notif ">
              <span class="text-success"><i class="fas fa-check-circle"></i><small id="mail_sent" class="text-light"> <b> </b></small></span>
          </div>

        </form>

      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
