<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rum+Raisin&display=swap" rel="stylesheet">
    <style media="" type="text/css">
      body {
        font-family: 'Rum Raisin', sans-serif;
        background-color: #F8F9FA;
        overflow: hidden;
      }

      .sublogo {
        width: 20vw;
      }

      .logo-text {
        font-size: 70px;
        color: #332D67;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .logo {
        background: transparent;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .logo-caption {
        margin-top: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #332D67;
      }

      .launching {
        font-family: Rum Raisin;
        font-style: normal;
        font-weight: normal;
        font-size: 70px;
        color: #332D67;
        margin-top: 0px;
      }

      .sub-input {
        /* Rectangle */
        font-family: 'Rum Raisin', sans-serif;
        background-color: transparent;
        border: 1px solid #332D67;
        box-sizing: border-box;
        width: 80vw;
        height: 58px;
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        opacity: 0.2; /* Firefox */
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        opacity: 0.2; /* Firefox */
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        opacity: 0.2; /* Firefox */
      }

      .sub-request {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 41px;
        margin-top: -50px;
        margin-bottom: 0px;
        color: #332D67;
      }

      button {

        height: 48px;
        cursor: pointer;
        padding: 0 20px 0 20px;
        background-color: transparent;
        color: #332D67;
        border: 1px solid #332D67;
        box-sizing: border-box;
        font-size: 18px;
        font-family: 'Rum Raisin', sans-serif;

      }

      button:hover {
        color: #F8F9FA;
        background: #332D67;
      }

      .footer-text {

        font-family: 'Rum Raisin', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        margin-top: 30px;
        color: #332D67;

      }

      @media only screen and (max-width: 568px) {
        /* For mobile phones: */
        .logo-text {
          font-size: 40px;
          color: #332D67;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        .launching {
          font-family: Rum Raisin;
          font-style: normal;
          font-weight: normal;
          font-size: 40px;
          color: #332D67;
          margin-top: 0px;
        }
        .sub-request {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 41px;
          margin-top: 0px;
          margin-bottom: 0px;
          color: #332D67;
        }
        .sub-input {
          /* Rectangle */
          margin-top: 0px;
          margin-bottom: 10px;
        }
        button {
          margin-bottom: 30px;
          height: 38px;
        }
      }

    </style>
    <title></title>
  </head>
  <body>
    <div class="logo">
      <img class="sublogo" src="/logo5.png">
      <p class="logo-text">Zakat Lists</p>
      <p class="logo-caption">Calculate Give Monitor and Sponsor <b>Zakats</b></p>
      <p class="launching">Launching Soon</p>
      <p class="sub-request">Subscribe to receive an alert on launch</p>
      <input class="sub-input" type="text" name="" value="" placeholder="your-email-address@something.com">
      <button type="button" name="button">Subscribe</button>
      <p class="footer-text">check progress on project at <a href="#">@punch__lines</a> </p>
    </div>


    <script type="text/javascript">
      
    </script>
  </body>
</html>
