<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rum+Raisin&display=swap" rel="stylesheet">
    <style media="" type="text/css">
    body {
      font-family: 'Rum Raisin', sans-serif;
      background-color: #F8F9FA;
      overflow: hidden;
    }
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .logo-caption {
        margin-top: -50px;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 41px;

        color: #332D67;
      }

      .launching {
        font-family: Rum Raisin;
        font-style: normal;
        font-weight: normal;
        font-size: 115px;

        color: #332D67;
      }

      .sub-input {
        /* Rectangle */
        font-family: 'Rum Raisin', sans-serif;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        width: 80vw;
        height: 68px;
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
      }

      .sub-request {
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 41px;

        color: #332D67;
      }

      button {

        height: 68px;

        background: #332D67;
        border: 1px solid #332D67;
        box-sizing: border-box;
        font-size: 32px;
        font-family: 'Rum Raisin', sans-serif;
        color: #F8F9FA;

      }

      svg {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
      }

      .footer-text {
        /* you can follow my progress on @getmakerlog */

        position: absolute;
        z-index: 2;
        bottom: 23px;
        left: 50%;
        transform: translate(-50%,-50%);

        font-family: 'Rum Raisin', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;

        color: #F8F9FA;


      }

      @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 60vw;
        }

        .logo-caption {
          margin-top: -50px;
          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 41px;

          color: #332D67;
        }

        .launching {
          font-family: Rum Raisin;
          font-style: normal;
          font-weight: normal;
          font-size: 115px;

          color: #332D67;
        }

        .sub-input {
          /* Rectangle */
          font-family: 'Rum Raisin', sans-serif;
          background: #FFFFFF;
          border: 1px solid #000000;
          box-sizing: border-box;
          width: 80vw;
          height: 68px;
          font-size: 32px;
          text-align: center;
          margin-bottom: 20px;
        }

        .sub-request {
          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 41px;

          color: #332D67;
        }

        button {

          height: 68px;

          background: #332D67;
          border: 1px solid #332D67;
          box-sizing: border-box;
          font-size: 32px;
          font-family: 'Rum Raisin', sans-serif;
          color: #F8F9FA;

        }

        svg {
          position: absolute;
          bottom: 0;
        }
      }

    </style>
    <title></title>
  </head>
  <body>
    <div class="logo">
      <img src="/sublogo.png">
      <p class="logo-caption">Calculate Give Monitor and Sponsor Zakats</p>
      <p class="launching">Launching Soon</p>
      <p class="sub-request">Subscribe to receive an alert on launch</p>
      <input class="sub-input" type="text" name="" value="" placeholder="your-email-address@something.com">
      <button type="button" name="button">Subscribe</button>
    </div>

    <svg width="100%" viewBox="0 0 1440 161" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 31L271.5 0L717 49L1099 20L1440 31V161H0V31Z" fill="#332D67"/>
    </svg>
    <p class="footer-text">you can follow my progress on @getmakerlog</p>

  </body>
</html>
