<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rum+Raisin&display=swap" rel="stylesheet">
    <style media="" type="text/css">
      body {
        font-family: 'Rum Raisin', sans-serif;
        background-color: #F8F9FA;
        overflow: hidden;
        letter-spacing: 0.04em;
      }

      .sublogo {
        width: 20vw;
        max-width: 371px;
        max-height: 337px;
      }

      .logo-text {
        font-size: 70px;
        color: #332D67;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .logo {
        background: transparent;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .logo-caption {
        margin-top: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #332D67;
      }

      .launching {
        font-family: Rum Raisin;
        font-style: normal;
        font-weight: normal;
        font-size: 70px;
        color: #332D67;
        margin-top: 0px;
      }

      .sub-input {
        /* Rectangle */
        font-family: 'Rum Raisin', sans-serif;
        background-color: transparent;
        border: 1px solid #332D67;
        box-sizing: border-box;
        width: 80vw;
        max-width: 400px;
        height: 58px;
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
        letter-spacing: 0.04em;
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        opacity: 0.2; /* Firefox */
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        opacity: 0.2; /* Firefox */
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        opacity: 0.2; /* Firefox */
      }

      .sub-request {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 41px;
        margin-top: -50px;
        margin-bottom: 0px;
        color: #332D67;
      }

      button {

        height: 48px;
        cursor: pointer;
        padding: 0 20px 0 20px;
        background-color: transparent;
        color: #332D67;
        border: 1px solid #332D67;
        box-sizing: border-box;
        font-size: 18px;
        font-family: 'Rum Raisin', sans-serif;

      }

      button:hover {
        color: #F8F9FA;
        background: #332D67;
      }

      .footer-text {

        font-family: 'Rum Raisin', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        margin-top: 30px;
        color: #332D67;

      }

      @media only screen and (max-width: 568px) {
        /* For mobile phones: */
        .logo-text {
          font-size: 40px;
          color: #332D67;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        .launching {
          font-family: Rum Raisin;
          font-style: normal;
          font-weight: normal;
          font-size: 40px;
          color: #332D67;
          margin-top: 0px;
        }
        .sub-request {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 41px;
          margin-top: 0px;
          margin-bottom: 0px;
          color: #332D67;
        }
        .sub-input {
          /* Rectangle */
          margin-top: 0px;
          margin-bottom: 10px;
        }
        button {
          margin-bottom: 30px;
          height: 38px;
        }
      }

    </style>
    <title></title>
  </head>
  <body>
    <div class="logo">
      <img class="sublogo" src="/logo5.png">
      <p class="logo-text">Zakat Lists</p>
      <p class="logo-caption">Calculate, Give, Monitor and Sponsor <b>Zakats</b></p>
      <p class="launching">Launching Soon</p>
      <p class="sub-request">Subscribe to receive an alert on launch</p>
      <form role="form" id="input" novalidate action="" method="">
        <input id="email" class="sub-input" type="text" name="email" value="" placeholder="your-email-address@something.com">
        <div style="margin:5px 0 10px 0; text-align: center">
          <label for="email" generated="true" class="error" style="color: red; "></label>
          <label for="email" generated="true" class="success" style="color: green; "></label>
        </div>
      </form>
      <button type="button" name="button">Subscribe</button>
      <p class="footer-text">See progress at <a href="https://getmakerlog.com/products/givezakat" target="_blank">@punch__lines</a> </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>

    <script type="text/javascript">

    $(document).on('click','button',function(){
      console.log('btn clicked');
      if (!($("#input").valid())) {

        return;

      }

      let data = {
        "query": 'subscription',
        "email": $('#email').val(),
      };

      data = JSON.stringify(data);

      $.ajax({
        url: '/signing',
        type: 'post',
        data,
        headers: {
            'content-type': 'application/json',
        }
      }).done((msg) => {
        console.log(msg);
        $('.success').show().html('Thank you, I will keep you updated.');
        $('button').attr('disabled',true);
      }).fail((e) => {
        $('.error').show().html(e.responseText);
        console.log(e.responseText);
      });
    });

    $("#input").validate({

      rules: {
        'email' : {
          required: true,
          email: true
        }
      },
      messages: {
        'email' : {
          required: `Please write your email in above field.`,
          email: `Email is invalid.`,
        },
      }
    });
    </script>
  </body>
</html>
