<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <style type="text/css">
      nav {
        /* position: absolute !important; */
        /* top: 0px;
        width: 100%; */
      }

      body {
        padding: 0px;
        margin: 0px;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #212529;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #28A745;
      }

      input:focus + .slider {
        box-: 0 0 1px #28A745;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
      }
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .bg-done {
        background-color: #236d45;
      }

      .bg-inprogress {
        background-color: #1E555C;
      }

      .bg-pending {
        background-color: #3A2E39;
      }

      .bg-issue {
        background-color: #C03221;
      }

      .card {
        cursor: pointer;
      }

      .mt-80 {
        margin-top: 80px;
      }

      .payment {
        cursor: pointer;
        background-color: #eab2b6 !important;
      }

      .payment:hover {
        background-color: #82e096 !important;
      }

      @media(max-width:767px){

      }

    </style>

    <title>Life for all</title>
  </head>
  <body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light d-flex justify-content-between">
      <div class="brand">
        <img src="/logo5.png" alt="" class="" style="height:44px">
        <a class="navbar-brand" href="#">Help my friend</a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Signed in as <b>Qasim</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Sign out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="mt-80 d-flex justify-content-start flex-wrap">
      <div class="col-xl-2 col-lg-3 col-md-4 col-6 rounded px-2 pb-2">
        <div class="card bg-done text-light rounded" data-toggle="modal" data-target="#exampleModal">
          <div class="p-2">
            <b class="">32.</b> <br>
            Irshad Ahmed <br>
            5x Members in a family<br>
            Earning Rs 24000/- per month
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-success">Status:</b>
            <small> 1 x Month Ration Delivered in Rs 6250 sponsored by id 3432</small>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-6 rounded px-2">
        <div class="card bg-inprogress text-light rounded" data-toggle="modal" data-target="#exampleModal2">
          <div class="p-2">
            <b class="">35.</b> <br>
            Masood Ahmed <br>
            51x Members in a family<br>
            Earning Rs 24000/- per month
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-primary">Status:</b>
            <small> Order parked at nearby CSD.</small>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-6 rounded px-2">
        <div class="card bg-pending text-light rounded">
          <div class="p-2">
            <b class="">3.</b> <br>
            Iqbal Kareem <br>
            51x Members in a family<br>
            Earning Rs 23400/- per month
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-danger">Status:</b>
            <small> Pending nomination.</small>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-6 rounded px-2">
        <div class="card bg-issue text-light rounded">
          <div class="p-2">
            <b class="">19.</b> <br>
            Iqbal Kareem <br>
            51x Members in a family<br>
            Earning Rs 23400/- per month
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-danger">Status:</b>
            <small> Not able to reach the person.</small>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title pl-3" id="exampleModalLabel"><img src="/resolved.svg" width="34px" height="34px" alt="" class="mr-4">Iqbal Hussain</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th scope="row">Contact No:</th>
                  <td colspan="2" class="text-danger font-weight-bold">+92 323 5168638</td>
                </tr>
                <tr>
                  <th scope="row" colspan="2">Dependant Family Members:</th>
                  <td>3</td>
                </tr>
                <tr>
                  <th scope="row" class="text-danger">Help needed:</th>
                  <td colspan="2">Financially broken, need ration to feed the entire family for 1 month.</td>
                </tr>
                <tr>
                  <th scope="row">Address:</th>
                  <td colspan="2">Wazirabad Teh, Dist Multan, <span class="text-danger font-weight-bold">Pakistan</span>.</td>
                </tr>
                <tr class="">
                  <th scope="row">Middle Man:</th>
                  <td>Ahmed Iqbal</td>
                  <td>+92 323 5145644</td>
                </tr>
                <tr>
                  <th scope="row" class="text-danger">Status:</th>
                  <td colspan="2">Delivered!</td>
                </tr>
              </tbody>
            </table>
            <hr>
            <div class="pl-2 pb-2">
              <h5 class="text-danger">Payment options</h5>
              <small >These payment options were included by Ahmed Iqbal (Middle Man). Click one below:-</small>
            </div>
            <div class="accordion" id="accordionExample">
              <h5 class="pl-2 payment py-2 my-0" data-toggle="collapse" data-target="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Western Union / Online bank transfer</h5>
              <div class="pl-2 collapse" id="collapseExample" data-parent="#accordionExample">
                <p class="py-2">Please make a deposit on following account and press 'Done' below:-</p>
                <ul class="pl-3 pb-0">
                  <li><b>Account title:</b> Qasim Ali and Iram Riaz <br></li>
                  <li><b>Account Number:</b> 09787638267 <br></li>
                  <li class="pb-0"><b>International Banking Account Number (IBAN):</b> 89736482648291734 <br><br></li>
                </ul>
                <div class="text-center">
                  <button type="button" class="btn btn-outline-success btn-block" name="button">Done</button>
                </div>
                <small class="text-left">Ahmed Iqbal (Middle Man) will be notified over a text message to update this status on reciept of payment.</small>
                <hr>
              </div>
              <h5 class="pl-2 payment py-2 my-0" data-toggle="collapse" data-target="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">Paypal</h5>
              <h5 class="pl-2 payment py-2 my-0" data-toggle="collapse" data-target="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">Credit Card</h5>
              <div class="collapse pl-2 pt-2" id="collapseExample2" data-parent="#accordionExample">
                <form action="/echo" method="post" novalidate="novalidate" class="needs-validation">
                    <div class="form-group">
                        <label for="cc-payment" class="control-label mb-1">Payment amount in USD</label>
                        <input id="cc-payment" name="cc-payment" type="text" class="form-control" aria-required="true" aria-invalid="false" required value="100.00">
                        <span class="invalid-feedback">Enter the payment amount</span>
                    </div>
                    <div class="form-group has-success">
                        <label for="cc-name" class="control-label mb-1">Name on card</label>
                        <input id="cc-name" name="cc-name" type="text" class="form-control cc-name" required autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                        <span class="invalid-feedback">Enter the name as shown on credit card</span>
                    </div>
                    <div class="form-group">
                        <label for="cc-number" class="control-label mb-1">Card number</label>
                        <input id="cc-number" name="cc-number" type="tel" class="form-control cc-number identified visa" required="" pattern="[0-9]{16}">
                        <span class="invalid-feedback">Enter a valid 16 digit card number</span>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="cc-exp" class="control-label mb-1">Expiration</label>
                                <input id="cc-exp" name="cc-exp" type="tel" class="form-control cc-exp" required placeholder="MM / YY" autocomplete="cc-exp">
                                <span class="invalid-feedback">Enter the expiration date</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="x_card_code" class="control-label mb-1">Security code</label>
                            <div class="input-group">
                                <input id="x_card_code" name="x_card_code" type="tel" class="form-control cc-cvc" required autocomplete="off">
                                <span class="invalid-feedback order-last">Enter the 3-digit code on back</span>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                    <span class="fa fa-question-circle fa-lg" data-toggle="popover" data-container="body" data-html="true" data-title="Security Code"
                                    data-content="<div class='text-center one-card'>The 3 digit code on back of the card..<div class='visa-mc-cvc-preview'></div></div>"
                                    data-trigger="hover"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="x_zip" class="control-label mb-1">Postal code</label>
                        <input id="x_zip" name="x_zip" type="text" class="form-control" value="" data-val="true" data-val-required="Please enter the ZIP/Postal code" autocomplete="postal-code">
                        <span class="help-block" data-valmsg-for="x_zip" data-valmsg-replace="true"></span>
                    </div>
                    <div class="text-center">
                        <button id="payment-button" type="submit" class="btn btn-outline-success btn-block">
                            <span id="payment-button-amount">Pay</span>
                            <span id="payment-button-sending" style="display:none;">Sending…</span>
                        </button>
                    </div>
                </form>
              </div>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success">Edit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Sign Up or Login -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title pl-4" id="exampleModalLabel">Sign in to view credentials</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="px-4 py-3">
              <a class="btn bg-primary text-light rounded" href="/home" name="button"><i class="fab fa-google"></i> | Sign in with Google</a>
            </div>
            <div class="dropdown-divider"></div>
            <form class="px-4 py-3">
              <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
              </div>
              <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="dropdownCheck">
                  <label class="form-check-label" for="dropdownCheck">
                    Remember me
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">New around here? Sign up</a>
            <a class="dropdown-item" href="#">Forgot password?</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
      let ht = $(window).height();
      console.log(ht);

    </script>
  </body>
</html>
