<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <style type="text/css">
      nav {
        /* position: absolute !important; */
        /* top: 0px;
        width: 100%; */
      }

      body {
        padding: 0px;
        margin: 0px;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #212529;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #28A745;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #28A745;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
      }
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .bg-done {
        background-color: #236d45;
      }

      .bg-inprogress {
        background-color: #20548c;
      }

      .bg-pending {
        background-color: #a02e38;
      }

      @media(max-width:767px){

      }

    </style>

    <title>Life for all</title>
  </head>
  <body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light d-flex justify-content-between">
      <div class="brand">
        <img src="/logo5.png" alt="" class="" style="height:44px">
        <a class="navbar-brand" href="#">Life for all</a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Sign out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="px-1 mt-4 mb-0 pb-3 jumbotron jumbotron-fluid bg-light">

      <h1 class="px-2 display-2 font-weight-lighter">Qasim</h1>

      <div class="p-2">
        <button class="btn btn-light border d-flex align-items-center">
          <span class="lead">Show list of</span>
          <span class="pl-2 lead">all</span>
          <label class="switch mx-3 my-0">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
          <span class="pr-2 text-muted lead text-strike"> <s>tagged</s> </span>
          <span class="lead">people.</span>
        </button>

        <div class="d-flex flex-wrap my-0 py-0">
          <button type="button" class="btn btn-light border d-flex align-items-center mr-3 my-2">
            <span class="lead pr-2">Delivered</span>
            <span class="badge bg-done text-light pt-1">423</span>
          </button>
          <button type="button" class="btn btn-light border d-flex align-items-center mr-3 my-2">
            <span class="lead pr-2">In progress</span>
            <span class="badge bg-inprogress text-light pt-1">12</span>
          </button>
          <button type="button" class="btn btn-light border d-flex align-items-center mr-3 my-2">
            <span class="lead pr-2">Pending</span>
            <span class="badge bg-pending text-light pt-1">23</span>
          </button>
        </div>

        <span class="border rounded p-2 lead">Showing entire list of people.</span>
      </div>

    </div>

    <div class="d-flex justify-content-start flex-wrap">
      <div class="col-lg-3 col-md-4 col-6 rounded px-2 pb-2">
        <div class="shadow-lg bg-done text-light rounded">
          <div class="p-2">
            <b class="">34.</b> <br>
            Irshad Ahmed <br>
            5x Members in a family<br>
            Earning Rs 24000/- per month
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-success">Status:</b>
            <small> 1 x Month Ration Delivered in Rs 6250 sponsored by id 3432</small>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6 rounded px-2">
        <div class="shadow bg-inprogress text-light rounded">
          <div class="p-2">
            <b class="">35.</b> <br>
            Masood Ahmed <br>
            51x Members in a family<br>
            Earning Rs 24000/- per month
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-primary">Status:</b>
            <small> Order parked at nearby CSD.</small>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6 rounded px-2">
        <div class="shadow bg-pending text-light rounded">
          <div class="p-2">
            <b class="">3.</b> <br>
            Iqbal Kareem <br>
            51x Members in a family<br>
            Earning Rs 23400/- per month
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-danger">Status:</b>
            <small> Pending nomination.</small>
          </div>
        </div>
      </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
