<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <style type="text/css">
      nav {
        /* position: absolute !important; */
        /* top: 0px;
        width: 100%; */
      }

      body {
        padding: 0px;
        margin: 0px;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #212529;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #28A745;
      }

      input:focus + .slider {
        box-: 0 0 1px #28A745;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
      }
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .bg-done {
        background-color: #236d45;
      }

      .bg-inprogress {
        background-color: #1E555C;
      }

      .bg-pending {
        background-color: #3A2E39;
      }

      .bg-issue {
        background-color: #C03221;
      }

      .card {
        cursor: pointer;
      }

      .mt-80 {
        margin-top: 80px;
      }

      @media(max-width:767px){

      }

    </style>

    <title>Life for all</title>
  </head>
  <body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light d-flex justify-content-between">
      <div class="brand">
        <img src="/logo5.png" alt="" class="" style="height:44px">
        <a class="navbar-brand" href="#">Help my friend</a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Qasim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Sign out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="mt-80 d-flex justify-content-start flex-wrap">
      <div class="col-lg-3 col-md-4 col-6 rounded px-2 pb-2">
        <div class="card bg-done text-light rounded" data-toggle="modal" data-target="#exampleModal">
          <h6 class="p-2 pb-0"><img src="/resolved.svg" width="34px" height="34px" alt=""></h6>
          <hr class="my-1">
          <div class="p-2">
            Irshad Ahmed <br>
            5x Members in a family<br>
            Earning Rs 24000/- per month
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-success">Status:</b>
            <small> 1 x Month Ration Delivered in Rs 6250 sponsored by id 3432</small>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6 rounded px-2">
        <div class="card bg-inprogress text-light rounded" data-toggle="modal" data-target="#exampleModal2">
          <div class="p-2">
            <b class="">35.</b> <br>
            Masood Ahmed <br>
            51x Members in a family<br>
            Earning Rs 24000/- per month
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-primary">Status:</b>
            <small> Order parked at nearby CSD.</small>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6 rounded px-2">
        <div class="card bg-pending text-light rounded">
          <div class="p-2">
            <b class="">3.</b> <br>
            Iqbal Kareem <br>
            51x Members in a family<br>
            Earning Rs 23400/- per month
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-danger">Status:</b>
            <small> Pending nomination.</small>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6 rounded px-2">
        <div class="card bg-issue text-light rounded">
          <div class="p-2">
            <b class="">19.</b> <br>
            Iqbal Kareem <br>
            51x Members in a family<br>
            Earning Rs 23400/- per month
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-danger">Status:</b>
            <small> Not able to reach the person.</small>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title pl-3" id="exampleModalLabel"><img src="/resolved.svg" width="34px" height="34px" alt="" class="mr-4">Iqbal Hussain</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th scope="row">Contact No:</th>
                  <td colspan="2" class="text-danger font-weight-bold">+92 323 5168638</td>
                </tr>
                <tr>
                  <th scope="row" colspan="2">Dependant Family Members:</th>
                  <td>3</td>
                </tr>
                <tr>
                  <th scope="row" class="text-danger">Help needed:</th>
                  <td colspan="2">Financially broken, need ration to feed the entire family for 1 month.</td>
                </tr>
                <tr>
                  <th scope="row">Address:</th>
                  <td colspan="2">Wazirabad Teh, Dist Multan, <span class="text-danger font-weight-bold">Pakistan</span>.</td>
                </tr>
                <tr class="">
                  <th scope="row">Middle Man:</th>
                  <td>Ahmed Iqbal</td>
                  <td>+92 323 5145644</td>
                </tr>
                <tr>
                  <th scope="row" class="text-danger">Status:</th>
                  <td colspan="2">Ration delivered!</td>
                </tr>
                <tr class="bg-light">
                  <th colspan="2">Available methods to help:</th>
                  <td colspan="1">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Western" id="Western" value="Western Union" checked>
                      <label class="form-check-label" for="Western">Western Union</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Western" id="Online" value="Western Union">
                      <label class="form-check-label" for="Online">Online Bank Transfer</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Western" id="Paypal" value="Western Union">
                      <label class="form-check-label" for="Paypal">Paypal</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Western" id="Stripe" value="Western Union">
                      <label class="form-check-label" for="Stripe">Stripe</label>
                    </div>
                  </td>
                </tr>
                <tr class="bg-light">
                  <th></th>
                  <td></td>
                  <td><button type="button" class="btn btn-success">Help</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success">Edit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Sign Up or Login -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title pl-4" id="exampleModalLabel">Sign in to view credentials</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="px-4 py-3">
              <a class="btn bg-primary text-light rounded" href="/home" name="button"><i class="fab fa-google"></i> | Sign in with Google</a>
            </div>
            <div class="dropdown-divider"></div>
            <form class="px-4 py-3">
              <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
              </div>
              <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="dropdownCheck">
                  <label class="form-check-label" for="dropdownCheck">
                    Remember me
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">New around here? Sign up</a>
            <a class="dropdown-item" href="#">Forgot password?</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
