<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Raise a Ticket</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
    <style media="screen">

    body {
      font-family: Roboto;
    }
      nav {
        display: flex;
        max-width: 900px;
        align-items: center;
        margin: auto;
      }

      nav > p {
        padding-left: 10px;
      }

      .container {
        /* border: 1px solid red; */
        max-width: 1300px;
        margin: 0 auto;
      }

      .container > * {
        /* border: 1px solid blue; */
      }

      .upper {
        display: flex;
      }

      .upper > .text {
        max-width: 60%;
      }

      .upper > .photo {
        max-width: 40%;
      }

      .bar {
        /* Orange */
        background: #F2994A;
        /* Gray 1 */
        border: 1px solid #333333;
        box-sizing: border-box;
        max-width: 60%;
        height: 20px;

      }

      .bar {
        position: relative;
        margin-top: 4rem;
      }

      .green_bar {
        position: absolute;
        width: 20%;
        /* z-index: 10; */
        background-color: green;
        /* border: 1px solid black; */
        height: 20px;
        box-sizing: border-box;
      }


      .greencircle {
        position: absolute;
      top: -42px;
      left: 20px;
      }

      .greencircle > span, .yellowcircle > span {
        position: absolute;
        white-space: nowrap;
        border: 1px solid grey;
        top: -16%;
        left: 50%;
        transform: translate(-50%,-50%);
      }

      .yellowcircle {
        position: absolute;
        top: -42px;
        left: 100%;
      }

      .counter_text {
        float: right;
        margin-top: -20px;
      }

      .counter_text > .bolder {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 101px;
        line-height: 146%;
        /* or 147px */

        /* Orange */
        color: #F2994A;
      }

      .counter_text > span:nth-child(1) {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 146%;
        /* identical to box height, or 22px */

        /* Orange */
        color: #F2994A;
      }

    </style>
  </head>
  <body>
    <nav>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 11H6.83L10.41 7.41L9 6L3 12L9 18L10.41 16.59L6.83 13H21V11Z" fill="#333333"/>
      </svg>

      <p>Zakatlists</p>
    </nav>

    <div class="container">

      <div class="upper">
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspern est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
        </div>
        <div class="photo">
          photo area
        </div>
      </div>

      <div class="status_bar">
        <div class="bar">
          <div class="green_bar">

          </div>

          <div class="greencircle">
            <svg width="24" height="61" viewBox="0 0 24 61" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="12.5" y1="2.18557e-08" x2="12.5" y2="38" stroke="#333333"/>
              <circle cx="12" cy="49" r="11.5" fill="#219653" stroke="#333333"/>
              </svg>

            <span>Raised till now: Rs 10000</span>
          </div>

          <div class="yellowcircle">
            <svg width="24" height="61" viewBox="0 0 24 61" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="12.5" y1="2.18557e-08" x2="12.5" y2="38" stroke="#333333"/>
<circle cx="12" cy="49" r="11.5" fill="#F2994A" stroke="#333333"/>
</svg>

            <span>Target: Rs 50000</span>
          </div>

        </div>
        <div class="counter_text">
          <span>ticket expires in</span>
          <span class="bolder">30:34</span>
        </div>
      </div>

    </div>
  </body>
</html>
