<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <title>Zakat Lists</title>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center">
      <div class="brand">
        <img src="/4.png" alt="" class="" style="height:84px">
      </div>
    </nav>
    <h1 class="text-center font-weight-bolder mb-4">Sign Up</h1>

    <div class="d-flex justify-content-center px-4">

      <div class="col-lg-4 col-md-6 col-sm-8 col-12 shadow rounded p-3">

        <form role="form" id="sign-up" novalidate action="/home" method="get">

          <div class="form-group">

            <div class="d-flex justify-content-between align-items-center">

              <label for="user-name">Name</label>

              <small class="text-danger pl-2 text-right"><label for="user-name" generated="true" class="error"></label></small>

            </div>

            <input name="user-name" type="text" class="form-control" id="user-name" aria-describedby="emailHelp" placeholder="Enter your last name" value="Qasim">

          </div>

          <div class="form-group">

            <div class="d-flex justify-content-between align-items-center">
              <label for="user-email">Email address</label>
              <small class="text-danger pl-2 text-right"><label for="user-email" generated="true" class="error"></label></small>
            </div>

            <input name="user-email" class="form-control" id="user-email" aria-describedby="emailHelp" placeholder="Enter email" >

            <!--						value="qasimali24@gmail.com"-->

            <small class="text-muted">You will get notifications and newsletters.</small>

          </div>

          <div class="form-group">

            <div class="d-flex justify-content-between align-items-center">
              <label for="user-pass">Password</label>
              <small class="text-danger pl-2 text-right"><label for="user-pass" generated="true" class="error"></label></small>
            </div>

            <input name="user-pass" type="password" class="form-control" id="user-pass" placeholder="Password" value="pakistani">

            <small class="text-muted">Create a strong password please.</small>

          </div>

          <p class="d-none"><small class="text-danger check-label"><label for="agreeTerms" generated="true" class="signup-error"></label></small></p>

          <button type="button" id="click-signup" class="btn btn-primary">Submit</button>
          <a href="/" class="signIn btn btn-outline-primary">Sign in</a>

        </form>

      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>

    <script type="text/javascript">



    $('#click-signup').click(function(e) {

      console.log('ok clicked');

      if (!($("#sign-up").valid())) {

        return;

      }

      console.log('valid entries');

      let data = {
        'query': 'Register',
        "name": $('#user-name').val(),
        "email": $('#user-email').val(),
        "password": $('#user-pass').val(),
      };

      data = JSON.stringify(data);

      $.ajax({
          url: '/signing',
          type: 'post',
          data,
          headers: {
              'content-type': 'application/json',
          }
        }).done((token) => {
          console.log('successful: ', token);
          $('#sign-up').attr('action',`/home/${token}`);
          $("#sign-up").submit();
        }).fail((e) => {
          console.log('error here', e.responseText);
          return $('.signup-error').html(`<i class="fas fa-exclamation-circle"></i> ` + e.responseText).closest('p').removeClass('d-none');
        });

    });

    $("#sign-up").validate({

      rules: {
        'user-name' : {
          required: true,
          lettersonly: true,
          minlength: 2
        },
        'user-email' : {
          required: true,
          minlength: 5,
          email: true
        },
        'user-pass' : {
          required: true,
          minlength: 5
        }

      },
      messages: {
        'user-name': {
          required: `<i class="fas fa-exclamation-circle"></i>`+" Please write your name",
          lettersonly: `<i class="fas fa-exclamation-circle"></i>`+" A name can not have symbols and numbers",
          minlength: `<i class="fas fa-exclamation-circle"></i>`+" Atleast 2 characters"
        },
        'user-email' : {
          required: `<i class="fas fa-exclamation-circle"></i>`+" Fill in the blank",
          email: `<i class="fas fa-exclamation-circle"></i>`+" Email address is invalid",
          minlength: `<i class="fas fa-exclamation-circle"></i>`+" Atleast 5 characters",
        },
        'user-pass' : {
          required: `<i class="fas fa-exclamation-circle"></i>`+" Fill in the blank",
          minlength: `<i class="fas fa-exclamation-circle"></i>`+" Atleast 5 characters",
        },
        agreeTerms: {
          required: `<i class="fas fa-exclamation-circle"></i>+ " "`
        }
      },

    });

    </script>
  </body>
</html>
