<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Techshek - 2020</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet">

  <style media="screen">
    body {
      margin: 0;
    }

    .container {
      margin: 0;
      padding: 0;
      max-width: 1200px;
      margin: auto;
          padding: 6rem 10px 0 10px;
    }

    .bg-svg {
      position: fixed;
      width: min-content;
      height: min-content;
      z-index: -10;
    }

    .hero {
      padding: 0 10rem;
      display: flex;
    }

    .htext {
      padding-left: 3rem;
      max-width: 493px;
    }

    .htext > p:nth-child(1) {

      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 39px;

      /* Gray 2 */
      color: #4F4F4F;
    }

    .htext > p:nth-child(1) > span {
      /* Gray 2 */
      color: #2F80ED;
    }

    .htext > a {
      display: flex;
      text-decoration: none;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 14px;
      text-align: center;
      color: #6f6f6f;
      align-items: center;
      font-style: italic;
      font-weight: bold;
    }

    .htext > a > *:nth-child(1) {
      width: 32px;
      height: 32px;

      margin-right: 1rem;
    }

    img.smaller {
      width: 27px !important;
      height: 27px !important;
    }

    a:hover {
      opacity: 0.6;
    }

    .content {
      padding: 5rem 10px;
      max-width: 917px;
      margin-right: auto;
      margin-left: 71px;
    }

    .title-bar {
      display: flex;
      justify-content: center;
      border: 1px solid green;
    }

    .title-bar > *:nth-child(1) {
      padding-left: 10px;
    }

    .title-bar > *:nth-child(2) {
      flex-grow: 1;
      padding-left: 10px;
    }

    .title-bar > button {
      background: none;
      border: 0px;
      padding: 0 10px;
      margin: 0;
    }

    .title-bar > svg {
      display: block;
      padding: 0;
      margin: 0;
      align-self: center;
    }
  </style>
</head>

<body class="">

  <div class="bg-svg">
    <svg width="1440" height="1225" viewBox="0 0 1440 1225" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g opacity="0.12">
        <path
          d="M116.3 365.8C137.1 395 154.9 413 162.6 434.4C170.3 455.7 168.1 480.3 184.8 522.3C201.6 564.3 237.4 623.7 231.6 668.1C225.8 712.4 178.5 741.7 133.1 736.1C87.6001 730.4 44.1001 689.8 6.4001 663.4C-31.3999 636.9 -63.4999 624.7 -103.5 604.7C-143.4 584.7 -191.2 557 -195.3 523.4C-199.5 489.9 -159.9 450.5 -130.2 415.3C-100.6 380.1 -80.8999 349.1 -52.8999 323.2C-24.7999 297.4 11.6001 276.7 41.7001 286.5C71.8001 296.3 95.6001 336.6 116.3 365.8Z"
          fill="#2F80ED" />
      </g>
      <g opacity="0.12">
        <path
          d="M1423.3 -111.7C1464.4 -85.3 1498.5 -47.9 1510.4 -5.29997C1522.3 37.3 1512 85.2 1501.2 130.1C1490.3 175.1 1478.8 217.1 1455.4 254.5C1431.9 291.9 1396.4 324.5 1354.1 339.6C1311.7 354.7 1262.5 352.1 1221.4 334.3C1180.4 316.6 1147.4 283.6 1119.6 248.1C1091.8 212.6 1069.1 174.5 1053 129.3C1036.9 84.1 1027.3 31.8 1044.8 -8.69997C1062.4 -49.2 1107.2 -77.9 1151.9 -102.7C1196.6 -127.4 1241.3 -148.2 1287.7 -150.9C1334.1 -153.5 1382.2 -138.1 1423.3 -111.7Z"
          fill="#2F80ED" />
      </g>
      <g opacity="0.12">
        <path
          d="M1499.3 802.8C1520.1 832 1537.9 850 1545.6 871.4C1553.3 892.7 1551.1 917.3 1567.8 959.3C1584.6 1001.3 1620.4 1060.7 1614.6 1105.1C1608.8 1149.4 1561.5 1178.7 1516.1 1173.1C1470.6 1167.4 1427.1 1126.8 1389.4 1100.4C1351.6 1073.9 1319.5 1061.7 1279.5 1041.7C1239.6 1021.7 1191.8 994 1187.7 960.4C1183.5 926.9 1223.1 887.5 1252.8 852.3C1282.4 817.1 1302.1 786.1 1330.1 760.2C1358.2 734.4 1394.6 713.7 1424.7 723.5C1454.8 733.3 1478.6 773.6 1499.3 802.8Z"
          fill="#2F80ED" />
      </g>
    </svg>
  </div>

  <div class="container">

    <section class="hero">

      <img src="/icons/techshek.png" width="167" height="167" alt="">

      <div class="htext">
        <p>We are gathering once a month to discuss tech in Pakistan. Join us to promote <span class="">#digitalpakistan</span>.</p>

        <a href="#">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
          <path d="M9.6 0.640015C9.43026 0.640015 9.26747 0.707443 9.14745 0.827466C9.02743 0.94749 8.96 1.11028 8.96 1.28001C8.96 1.44975 9.02743 1.61254 9.14745 1.73256C9.26747 1.85259 9.43026 1.92001 9.6 1.92001C9.76974 1.92001 9.93252 1.85259 10.0525 1.73256C10.1726 1.61254 10.24 1.44975 10.24 1.28001C10.24 1.11028 10.1726 0.94749 10.0525 0.827466C9.93252 0.707443 9.76974 0.640015 9.6 0.640015ZM17.92 1.28001C17.5805 1.28001 17.2549 1.41487 17.0149 1.65492C16.7749 1.89496 16.64 2.22054 16.64 2.56001C16.64 2.89949 16.7749 3.22507 17.0149 3.46511C17.2549 3.70516 17.5805 3.84001 17.92 3.84001C18.2595 3.84001 18.585 3.70516 18.8251 3.46511C19.0651 3.22507 19.2 2.89949 19.2 2.56001C19.2 2.22054 19.0651 1.89496 18.8251 1.65492C18.585 1.41487 18.2595 1.28001 17.92 1.28001ZM14.08 3.84001C11.2275 3.84001 8.77469 5.68132 7.96125 8.37252C5.61501 8.70212 3.84 10.7027 3.84 13.12C3.84 13.8829 4.02126 14.6292 4.3675 15.305C3.61166 16.2196 3.2 17.3581 3.2 18.56C3.2 20.9107 4.81399 22.9416 7.04375 23.515C7.04183 23.5707 7.04 23.6256 7.04 23.68C7.04 26.5031 9.33696 28.8 12.16 28.8C13.3498 28.8 14.4699 28.3993 15.3787 27.6575C16.1461 28.391 17.1578 28.8 18.24 28.8C20.1798 28.8 21.8479 27.4375 22.285 25.5988C22.324 25.5994 22.3616 25.6 22.4 25.6C25.5763 25.6 28.16 23.0157 28.16 19.84C28.16 18.7271 27.8483 17.6673 27.2537 16.7425C27.8355 16.1006 28.16 15.2736 28.16 14.4C28.16 12.7808 27.0573 11.4088 25.545 11.0088C25.5815 10.7502 25.6 10.4935 25.6 10.24C25.6 7.06434 23.0163 4.48001 19.84 4.48001C19.0778 4.48001 18.3371 4.62936 17.6337 4.92376C16.5771 4.21336 15.3562 3.84001 14.08 3.84001ZM6.08 5.12001C5.82539 5.12001 5.58121 5.22116 5.40118 5.40119C5.22114 5.58123 5.12 5.82541 5.12 6.08002C5.12 6.33462 5.22114 6.5788 5.40118 6.75884C5.58121 6.93887 5.82539 7.04002 6.08 7.04002C6.33461 7.04002 6.57879 6.93887 6.75882 6.75884C6.93886 6.5788 7.04 6.33462 7.04 6.08002C7.04 5.82541 6.93886 5.58123 6.75882 5.40119C6.57879 5.22116 6.33461 5.12001 6.08 5.12001V5.12001ZM28.16 8.32002C27.8205 8.32002 27.4949 8.45487 27.2549 8.69492C27.0149 8.93497 26.88 9.26054 26.88 9.60002C26.88 9.93949 27.0149 10.2651 27.2549 10.5051C27.4949 10.7452 27.8205 10.88 28.16 10.88C28.4995 10.88 28.8251 10.7452 29.0651 10.5051C29.3051 10.2651 29.44 9.93949 29.44 9.60002C29.44 9.26054 29.3051 8.93497 29.0651 8.69492C28.8251 8.45487 28.4995 8.32002 28.16 8.32002ZM17.2425 9.60002C18.063 9.60002 18.7554 10.1187 19.03 10.8425C19.0422 10.8745 19.0794 10.8843 19.105 10.8613C19.5632 10.4529 20.1718 10.2425 20.8425 10.2425C21.6425 10.2425 22.4 10.7988 22.4 12.0788C22.4 13.5188 21.52 14.7988 20.16 17.9188C20.0282 18.2208 19.84 18.7533 19.84 19.1988C19.84 19.7594 20.16 20.48 21.44 20.48C21.9699 20.48 22.4 20.9101 22.4 21.44C22.4 21.9699 21.9699 22.4 21.44 22.4C17.52 22.4 17.28 20.32 17.28 19.84C17.28 19.2826 17.327 18.9107 17.48 18.48C17.5146 18.3827 19.7664 13.7417 19.7862 13.6963C19.824 13.6099 19.8413 13.5208 19.84 13.4325C19.8368 13.1893 19.6943 12.9581 19.4562 12.8538C19.1324 12.7117 18.7552 12.8593 18.6137 13.1825C18.6137 13.1825 15.7046 19.5368 15.5875 19.8063C15.3411 20.3733 14.6814 20.6333 14.1137 20.3863C13.6881 20.2013 13.4343 19.784 13.4387 19.3475C13.44 19.2022 13.4711 19.0546 13.5325 18.9125C13.6579 18.6239 15.3118 14.3683 15.3137 14.3625C15.3425 14.287 15.3587 14.2052 15.3587 14.1188C15.36 13.7444 15.0557 13.44 14.68 13.44C14.3888 13.44 14.1404 13.624 14.0437 13.8813C13.5682 15.1254 11.7435 19.9641 11.5662 20.4838C11.2981 21.2697 10.5515 21.7536 9.73875 21.76C9.51347 21.7619 9.28342 21.7343 9.0575 21.6575C8.01366 21.3017 7.4451 20.1998 7.7875 19.1963C8.03966 18.4558 9.83207 12.683 10.0637 11.9163C10.3684 10.9095 11.0812 10.24 12.5212 10.24C13.5612 10.24 14.3525 10.88 14.9925 10.88C15.4827 10.88 15.9625 9.60002 17.2425 9.60002ZM31.36 12.8C31.1903 12.8 31.0275 12.8674 30.9075 12.9875C30.7874 13.1075 30.72 13.2703 30.72 13.44C30.72 13.6098 30.7874 13.7725 30.9075 13.8926C31.0275 14.0126 31.1903 14.08 31.36 14.08C31.5297 14.08 31.6925 14.0126 31.8125 13.8926C31.9326 13.7725 32 13.6098 32 13.44C32 13.2703 31.9326 13.1075 31.8125 12.9875C31.6925 12.8674 31.5297 12.8 31.36 12.8ZM1.28 13.44C0.940523 13.44 0.61495 13.5749 0.374903 13.8149C0.134857 14.055 0 14.3805 0 14.72C0 15.0595 0.134857 15.3851 0.374903 15.6251C0.61495 15.8652 0.940523 16 1.28 16C1.61948 16 1.94505 15.8652 2.1851 15.6251C2.42514 15.3851 2.56 15.0595 2.56 14.72C2.56 14.3805 2.42514 14.055 2.1851 13.8149C1.94505 13.5749 1.61948 13.44 1.28 13.44V13.44ZM29.76 16C29.5054 16 29.2612 16.1012 29.0812 16.2812C28.9011 16.4612 28.8 16.7054 28.8 16.96C28.8 17.2146 28.9011 17.4588 29.0812 17.6388C29.2612 17.8189 29.5054 17.92 29.76 17.92C30.0146 17.92 30.2588 17.8189 30.4388 17.6388C30.6189 17.4588 30.72 17.2146 30.72 16.96C30.72 16.7054 30.6189 16.4612 30.4388 16.2812C30.2588 16.1012 30.0146 16 29.76 16V16ZM5.12 24.96C4.95026 24.96 4.78747 25.0274 4.66745 25.1475C4.54743 25.2675 4.48 25.4303 4.48 25.6C4.48 25.7698 4.54743 25.9325 4.66745 26.0526C4.78747 26.1726 4.95026 26.24 5.12 26.24C5.28974 26.24 5.45252 26.1726 5.57255 26.0526C5.69257 25.9325 5.76 25.7698 5.76 25.6C5.76 25.4303 5.69257 25.2675 5.57255 25.1475C5.45252 25.0274 5.28974 24.96 5.12 24.96V24.96ZM24.32 26.88C23.9805 26.88 23.6549 27.0149 23.4149 27.2549C23.1749 27.495 23.04 27.8205 23.04 28.16C23.04 28.4995 23.1749 28.8251 23.4149 29.0651C23.6549 29.3052 23.9805 29.44 24.32 29.44C24.6595 29.44 24.9851 29.3052 25.2251 29.0651C25.4651 28.8251 25.6 28.4995 25.6 28.16C25.6 27.8205 25.4651 27.495 25.2251 27.2549C24.9851 27.0149 24.6595 26.88 24.32 26.88ZM15.04 29.44C14.7854 29.44 14.5412 29.5412 14.3612 29.7212C14.1811 29.9012 14.08 30.1454 14.08 30.4C14.08 30.6546 14.1811 30.8988 14.3612 31.0788C14.5412 31.2589 14.7854 31.36 15.04 31.36C15.2946 31.36 15.5388 31.2589 15.7188 31.0788C15.8989 30.8988 16 30.6546 16 30.4C16 30.1454 15.8989 29.9012 15.7188 29.7212C15.5388 29.5412 15.2946 29.44 15.04 29.44V29.44Z" fill="#EB3838"/>
          </g>
          <defs>
          <clipPath id="clip0">
          <rect width="32" height="32" fill="white"/>
          </clipPath>
          </defs>
          </svg>

          <p style="margin-left: -5px;">meetup.com/techshek</p>
        </a>
        <a href="#">
          <img src="/icons/twitter.png" class="smaller" alt="">
          <p>twitter.com/zakatlists</p>
        </a>
        <a href="#">
          <img src="/icons/facebook.png" class="smaller" alt="">
          <p>facebook.com/techshek</p>
        </a>
        <a href="#">
          <img src="/icons/whatsapp.png" class="smaller" alt="">
          <p>Click here to make a request to join our whatsapp group</p>
        </a>
      </div>
    </section>

    <section class="content">

      <div data-target="{{@indexNo}}" class="title-bar" style="">
        <p>19 Jan 2020</p>
        <p>Chapter 1: Meet and Greet</p>
        <button type="button" name="button">Video</button>

        <svg class="closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.41 8.58997L12 13.17L16.59 8.58997L18 9.99997L12 16L6 9.99997L7.41 8.58997Z" fill="#BDBDBD" />
        </svg>

        <svg class="open" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.59 15.41L12 10.83L7.41 15.41L6 14L12 8.00003L18 14L16.59 15.41Z" fill="#BDBDBD" />
        </svg>

      </div>

      <div data-show="{{@indexNo}}" class="lower-bar d-none assignment">
        <p>1300 hrs</p>
        <p>Kick Start by Qasim Ali</p>
        <a href="/techshek1.pptx" download>View</a>
      </div>

      <div data-show="{{@indexNo}}" class="lower-bar d-none assignment">
        <p>1300 hrs</p>
        <p>Kick Start by Qasim Ali</p>
        <a href="/techshek1.pptx" download>View</a>
      </div>


    </section>

  </div>
</body>

</html>
