<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Timeline</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet">
    <style media="screen">


      html {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
      }

      body {
        margin: 0;
        padding: 0;
        background: #F2F2F2;
      }

      .d-none {
        display: none !important;
      }

      .bg {
        /* The image used */
        background-image: url("/icons/bgtimeline.svg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
      }

      nav {
        max-width: 1400px;
        margin: auto;
        padding: 10px 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      nav a, .logo p{
        color: #595959;
        font-size: 18px;
      }

      nav a {
        background: none;
        text-decoration: none;
      }

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .logo:hover, nav > a:hover {
        opacity: 0.6;
        cursor: pointer;
      }

      .logo > svg {
        margin-right: 20px;
      }

      .container {
        max-width: 1400px;
        margin: auto;
        padding: 10px 20px;
      }

      #welcome, #dropdown {

        max-width: 465px;
        background: #FFFFFF;
        opacity: 0.96;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        padding: 20px;
        margin-bottom: 20px;
      }

      #welcome p {
        line-height: 1.67;
      }
      h1 {
        font-size: 46px;
        line-height: 143.69%;
        /* identical to box height, or 66px */

        color: #595959;
      }

      p {
        font-size: 18px;
        line-height: 1.5;
        color: #595959;
      }

      .title-bar,.lower-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
      }

      .date {
        color: #c4c4c5;
        font-weight: normal;
      }
    </style>
  </head>
  <body class="bg">
    <nav>
      <div class="logo">
        <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 5H3.83L7.41 1.41L6 0L0 6L6 12L7.41 10.59L3.83 7H18V5Z" fill="#3F3D56"/>
        </svg>
        <p>Home</p>
      </div>
      <a href="#">Upload New Data</a>
    </nav>

    <div class="container">
      <section id="welcome">
        <h1>World's Timelines</h1>
        <p>Welcome to world’s timeline at one place. As I find interesting things in world’s history, I will add them here for everybody’s consumption. And, I lose my notes so frequently, I want them accessible.</p>
      </section>

      <section id="dropdown">
        <div data-target="1987" class="title-bar" style="">

          <p>1808</p>


          <div class="">
            <svg class="opened" width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 13H5V11H19V13Z" fill="#B9B9B9"/>
            </svg>

            <svg class="closed" width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="#B9B9B9"/>
            </svg>
          </div>

        </div>

        <div data-show="1987" class="lower-bar" onclick="window.location.assign('/timeopen');">
          <p>Napolean attacked Spain and Portugal</p>
          <p class="date">4 May 2020</p>
        </div>

        <div data-show="1987" class="lower-bar" onclick="window.location.assign('/timeopen');">
          <p>Britains invaded Egypt</p>
          <p class="date">5 May 2020</p>
        </div>
      </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <script type="text/javascript">
    $('.collapse_all').on('click',function() {
      let collapsedCheck = $('.lower-bar.d-none').length > 0;
      if (collapsedCheck) {
        $('.lower-bar').removeClass('d-none');
        $('.title-bar').addClass('not-collapsed');
        return $(this).html('Collapse All');
      }
      $('.lower-bar').addClass('d-none');
      $('.title-bar').removeClass('not-collapsed');
      $(this).html('Show All');
    })

    $('.title-bar').on('click',function() {
      let target = $(this).attr('data-target');
      $(`[data-show=${target}]`).toggleClass('d-none');
      $(this).toggleClass('not-collapsed');
      if ($('.lower-bar.d-none').length > 0) $('.collapse_all').html('Show All');
      else $('.collapse_all').html('Collapse All');
    })
    </script>
  </body>
</html>
