<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update Donations</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Mode</th>
        <th>date</th>
      </tr>
      <tr>
        <td><input type="text" name="" value=""> </td>
        <td><input type="text" name="" value=""> </td>
        <td><input type="text" name="" value=""> </td>
        <td><input type="text" name="" value=""> </td>
      </tr>
    </table>
  </body>
</html>
