

      .cover-hero {
        position: absolute;
        top: 0px;
        width: 100vw;
      }
      .cover-hero .container{
        padding: 1rem 0;
      }

      .nav-bar a, .nav-bar p {
        font-size: 15px;
        font-weight: bold;
        color: white;
      }

      .hero-bg {
        z-index: -10;
        width: 100vw;
      }

      * {
        margin: 0px;
        padding: 0px;
        transition: all 0.25s ease-in-out, padding 0s linear;
      }

      .form-control:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      body {
        font-family: 'Montserrat', sans-serif;
        margin: 0px;
      }

      .container {
        position: relative;
        max-width: 1400px;
        margin: auto;
      }

      #hero {
        height: 100vh;
      }

      .grid {
        display: grid;
        height: 100%;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);

      }

      .item-1 {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 2rem 0px 0px 2rem;
      }

      .item-2 {
        grid-column: 1/4;
        grid-row: 2/2;
        align-self: center;
        padding: 0 1rem 0 1rem;
      }

      .item-2 > img {
        margin-bottom: -51px;
      }

      .item-3 {
        grid-column: 1/4;
        grid-row: 3/4;
        padding: 0 0 2rem 2rem;
        align-self: end;
      }

      .item-3 > .text-brand {
        margin-bottom: -1rem;
      }

      .theme-gradient {
        background: linear-gradient(57.73deg, #173627 40.85%, #AF8150 115.83%);
      }

      .bg-primary {
        background: #173627;
      }

      .bg-delivered, .bg-done {
        background: #4E7BEF;
      }

      .bg-inprogress {
        background: #EF4EA9;
      }

      .bg-issue {
        background: #ED5349;
      }

      .bg-pending {
        background: #05386B;
      }

      .bg-light {
        background: #C0C1C5;
      }

      .shadow {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      }

      .text-light {
        color: #C0C1C5;
      }

      .text-white {
        color: #FFFFFF;
      }

      .text-blue {
        color: #05386B;
      }

      .text-green {
        color: #173627;
      }

      .text-brand {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 56px;
      }

      .item-2 > p {
        font-style: normal;
        font-weight: 800;
        font-size: 21px;
        line-height: 26px;
        padding-left: 2rem;
      }

      .nav-item {
        font-style: normal;
        font-weight: normal !important;
        font-size: 23px;
        line-height: 28px;
        cursor: pointer;
      }

      p {
        font-style: normal;
        font-weight: medium;
        font-size: 15px;
        line-height: 18px;
        margin: 0.4rem 0;
      }

      .my-1 {
        margin: 1rem 0;
      }

      .my-point5 {
        margin: 0.5rem 0;
      }

      .footer-headings {
        font-style: normal;
        font-size: 20px;
        line-height: 132.9%;
      }

      .font-weight-bold {
        font-weight: bold;
      }

      .font-name {
        font-size: 18px;
        font-weight: bolder;
      }

      .nav-items {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
      }

      .d-none {
        display: none !important;
      }

      .d-block {
        display: block;
      }

      .d-md-block {
        display: none;
      }

      .item-1 > img {
        width: 72px;
      }

      .border-offwhite {
        border-color: #C0C1C5;
      }

      .border-bottom {
        border-bottom: 2px solid;
      }

      .item-4 {
        grid-column: 3/4;
        grid-row: 1/2;
        padding: 60px 2rem 0px 0px;
        text-align: right;
      }

      .item-4 > img {
        width: 24.2px;
      }

      .nav-menu {
        position: fixed;
        z-index: -2;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 0;
        overflow: hidden;
      }

      .d-flex {
        display: flex;
        justify-content: center;
      }

      .align-items-center {
        align-items: center;
      }

      .align-items-start {
        align-items: start;
      }

      .justify-content-start {
        justify-content: flex-start;
      }

      .justify-content-center {
        justify-content: center;
      }

      .flex-col {
        flex-direction: column;
      }

      .flex-row {
        flex-direction: row;
      }

      .nav-menu > .my-2 {
        font-size: 15px;
        font-weight: normal;
        white-space: nowrap;
      }

      .nav-menu > img {
        position: absolute;
        top: 60px;
        right: 32px;
        width: 19.23px;
      }

      .justify-content-between {
        justify-content: space-between;
      }

      .justify-content-around {
        justify-content: space-around;
      }

      .px-point5 {
        padding: 0 0.5em;
      }

      .align-self-center {
        align-self: center;
      }

      .ml-2 {
        margin-left: 2rem;
      }

      .mr-2 {
        margin-right: 2rem;
      }

      .ml-point5 {
        margin-left: 0.5rem;
      }

      .h-100vh {
        height: 200vh;
      }

      .nav-bar {
        z-index: 10;
      }

      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

      .sticky + #content {
        padding-top: 90px;
      }

      .px-2 {
        padding: 0 2rem;
      }

      .pt-2 {
        padding-top: 2rem;
      }

      .btn {
        padding: 0.5rem 1rem !important;
        font-size: 15px;
        white-space: nowrap;
      }

      .btn-primary:hover {
        background: #d7d7d7;
        cursor: pointer;
      }

      .btn:focus, .btn:active {
        outline: none;
      }

      .filter-btns .active {
        outline: none;
        background: #173627;
        color: #FFFFFF;
      }

      .btn-primary {
        font-weight: bold;
        border: 1px solid #173627;
        background: white;
      }

      .pr-1 {
        padding-right: 1rem;
      }

      .pl-1 {
        padding-left: 1rem;
      }

      .ml-1 {
        margin-left: 1rem;
      }

      .badge {
        font-size: 8px;
        padding: 2px 5px;
      }

      .overflow-hidden {
        overflow: hidden;
      }

      .overflow-scroll {
        overflow: scroll;
      }

      .flex-wrap {
        flex-wrap: wrap;
      }

      .flex-grow-1 {
        flex-grow: 1;
      }

      #content .overflow-scroll::-webkit-scrollbar {
          display: none;
      }

      .border {
        border: 1px solid #173627;
      }

      .w-100 {
        width: 100%;
      }

      .form-control {
        padding: 0.5rem 1rem;
        font-size: 15px;
        white-space: nowrap;
        border: none;
      }

      input::placeholder {
        color: #173627;
        font-size: 15px;
        font-weight: bold;
        opacity: 0.8;
      }

      .search-bar > input {
        margin-right: -41px;
      }

      .mt-2 {
        margin-top: 2rem !important;
      }

      .content-grid {
        display: grid;
        grid-auto-rows: 199px;
        grid-auto-columns: minmax(165px,332px);
        grid-gap: 0.5rem;
        grid-template-columns: repeat(2,1fr);
      }

      .content-grid > .card {
        position: relative;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 17px auto auto;
        grid-gap: 0px;
      }

      .place-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      .place-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      .place-3 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        align-self: center;
      }

      .place-3 svg {
        display: none;
      }

      .place-3 svg:nth-child(2) {
        margin-left: 0.3rem;
      }

      .place-4 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        align-self: center;
      }

      .place-4 svg {
        width: 30px;
        padding-top:2px;
      }

      .place-4 .font-name {
        display: none;
        margin-left: 0.3rem;
        font-size: 20px;
      }

      .place-5 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        align-self: center;
      }

      .report-badge {
        padding: 2px 8px;
        font-weight: bold;
        font-size: 11px;
      }

      .text-right {
        text-align: right;
      }

      .px-1 {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .pt-1 {
        padding-top: 1rem;
      }

      .font-card {
        font-size: 12px;
        font-weight: medium;
      }

      .mt-1 {
        margin-top: 1rem;
      }

      .rounded-circle {
        border-radius: 50%;
      }

      .badge-secondary {
        border: 2px solid #05386B;
      }

      .card-hover {
        pointer-events: none;
        position: absolute;
        padding: 1rem;
        align-self: end;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
      }

      .card-hover > svg:nth-child(1) {
        grid-row: 1/2;
        margin-left: 0.3rem;
        align-self: center;
      }

      .card-hover > svg:nth-child(2) {
        grid-row: 1/2;
        grid-column: 2/3;
        align-self: center;
        margin-left: auto;
        cursor: pointer;
      }

      .card-hover > svg:nth-child(2):hover {
        opacity: 0.4;
        cursor: pointer;
      }

      .card-hover > p {
        grid-row: 2/3;
        grid-column: 1/3;
        font-weight: bold;
        font-size: 12px;
        word-wrap: normal;
        align-self: center;
      }

      .card-active {
        height: 48%;
      }

      .card-inactive {
        height: 0%;
        opacity: 0;
      }

      .card-inactive * {
        opacity: 0;
      }

      .card-active > p, .card-active > svg {
        display: inline-block !important;
      }


      .place-2 {
        position: relative;
      }
      .place-2 > svg {
        padding: 8px 8px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
        margin-top: -3px;
      }

      .place-2 > svg:hover {
        background-color: #bfbfbf;
      }

      .place-2 > .active {
        background: #EAEAEA;
      }

      .card-browser {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .align-items-end {
        align-items: flex-end;
      }

      .alpha60 {
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.6);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
      }

      .card-browser a {
        border: 0px;
        font-size: 11px;
        font-weight: bold;
        padding: 5px 10px;
        background-color: white;
        margin: 0.3rem 0;
        cursor: pointer;
      }

      .card-browser a:hover {
        background-color: #bfbfbf;
      }

      .card-browser > div {
        padding: 1rem;
        margin-top: 1.5rem;
      }

      .card-select {
        z-index: 5;
        width: 16px;
        height: 16px;
        border: 1px solid #05386B;
        padding: 0 0 0 2px;
        cursor: pointer;
      }

      .active {
        background-color: #bfbfbf;
      }

      .card-selected {
        background-color: #173627;
      }

        .mr-point5 {
        margin-right: 0.5rem;
      }

      .card-selected > .place-1 > span:nth-child(1) {
        display: none;
      }

      .card-selected > .place-1 > span:nth-child(2) {
        background-color: #C0C1C5;
        border: 1px solid #C0C1C5;
      }

      .card-selected .font-card , .card-selected .font-name , .card-selected .badge , .card-selected .card-hover p{
        color: #C0C1C5;
      }

      .card-selected .card-hover {
        background-color: #173627;
      }
      .card-selected .font-card .report-badge {
        color: #173627 !important;
        background-color: #C0C1C5 !important;
      }

      .card-selected .badge-secondary {
        border-color: #C0C1C5;
      }

      .btn-secondary {
        font-weight: bold;
        border: 1px solid #173627;
        color: white;
        background: #173627;
        cursor: pointer;
      }

      .btn-secondary:hover {
        background: black;
        border: 1px solid black;
        color: white;
      }

      .subscription  input {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
      }

      .text-center {
        text-align: center;
      }

      .my-2 {
        margin: 2rem 0;
      }


      h3 {
       font-size: 25px;
       font-weight: bold;
      }

      #footer {
        padding: 55px 1rem 20px 1rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
      }

      #footer p {
        line-height: 23px;
      }

      #footer > div:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
      }

      #footer > div:nth-child(2) {
        grid-column: 1/3;
        grid-row: 2/3;
      }

      #footer > div:nth-child(3) {
        grid-column: 1/3;
        grid-row: 3/4;
        padding: 1rem 0;
      }

      #footer > div:nth-child(4) {
        grid-column: 1/3;
        grid-row: 4/5;
        padding: 1rem 0;
      }

      #footer > div:nth-child(5) {
        grid-column: 1/3;
        grid-row: 5/6;
      }

      a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
      }

      .footer-btns > a {
        font-weight: bold;
        font-size: 15px;
        padding: 2px 8px;
        border: 1px solid transparent;
      }

      .footer-btns > a:hover {
        border: 1px solid #afafaf;
      }

      .mx-point5 {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      .text-credits {
        color: #afafaf;
      }

      .copy-right {
        white-space: nowrap;
      }

      .copy-right > a {
        margin-left: 20vw;
      }

      .form-placement {
        margin-top: -20vh;
        margin-bottom: 20vh;
        width: 360px;
        padding-bottom: 15px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      }

      .form-placement > h4 {
        color: #173627;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 2rem 0;
      }

      .form-placement > *:not(hr)  {
        margin: 15px 25px;
      }

      .form-placement > p {
        font-weight: bold;
        font-size: 15px;
        color: #173627;
      }

      .input-heading {
        color: #173627;
        font-size: 18px;
        font-weight: bold;
        line-height: 28px;
      }

      .form-placement > div {
        margin: 15px 25px;
        color: #173627;
        font-weight: bold;
        font-size: 18px;
      }

      .bg-green {
        background: #173627;
      }

      .form-placement input{
        color: #173627;
        font-weight: bold;
        font-size: 18px;
      }

      .form-placement hr {
        border: 0.5px solid #173627;
        margin-bottom: 2rem;
      }

      .form-placement > .btn {
        margin-left: 25px;
      }

      .mb-1 {
        margin-bottom: 1rem !important;
      }

      .mb-2 {
        margin-bottom: 2rem !important;
      }

      .nisab-text {
        padding: 2px 8px;
        font-weight: bold;
        border-bottom: 2px solid green;
      }

      .ml-auto {
        margin-left: auto !important;
      }
      .total-zakat {
        padding: 2px 8px;
        font-weight: bold;
        border-bottom: 2px solid white;
      }

      .h-40vh {
        height: 40vh;
      }

      .nav-bar a {
        cursor: pointer;
        border: 1px solid transparent;
        margin: 0 0.1rem;
      }

      .nav-bar a:hover {
        border: 1px solid #C0C1C5;
      }

      .position-absolute {
        position: absolute;
      }

      .nav-bar .active {
        background: white;
        color: darkgreen;
      }

      .form-placement a {
        font-weight: bold;
        padding: 0 12px;
        margin-left: -12px;
        /* background: #d7d9d8; */
        /* border: 1px solid #d7d9d8; */
      }

      .form-placement a:hover {
        /* border: 1px solid #173627; */
        background: #eff1f0;

      }

      .form-placement .input-heading {
        font-weight: normal;
      }

      .form-placement .divider-text {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
      }

      #footer svg {
        cursor: pointer;
      }

      .heart-icon {
        margin-bottom: -3px;
      }

      #footer a {
        font-weight: bold;
      }

      #footer a:hover {
        color: white;
      }

      .cart-circle {
        background: #fff036;
        border-radius: 50%;
        padding: 0.2rem 0.4rem;
        font-size: 10px;
        font-weight: bold;
        margin-left: -10px;
        margin-bottom: 15px;
        color: #183627;
      }

      .cart-circle {
        background: #fff036;
        border-radius: 50%;
        padding: 0.2rem 0.4rem;
        font-size: 10px;
        font-weight: bold;
        margin-left: -10px;
        margin-bottom: 15px;
        color: #183627;
      }

      .form-grid {
        display:grid;
        grid-template-columns: 1fr auto 116px;
        grid-template-rows: auto;
        grid-gap: 1rem;
        padding: 0;
      }

      .form-grid .heading:nth-child(1){
        align-self: center;
        grid-row: 1/2;
        grid-column: 1/3;
        text-align: center;
      }

      .form-grid p {
        font-size: 15px;
      }

      .form-grid .heading p{
        font-size: 15px;
        font-weight: bold !important;
      }

      .form-grid .delete-btn {
        grid-column: 1/2;
        padding-top: 10px;
      }

      .form-grid .delete-btn svg {
        cursor: pointer;
      }

      .form-grid .person {
        grid-column: 2/3;
        padding: 0;
        font-weight: normal !important;
      }

      .form-grid .label:nth-child(1) p{
        font-weight: normal !important;
      }

      .form-grid input {
        grid-column: 3/4;
        text-align: center;
        border: 1px solid #173627;
      }

      .form-grid input::placeholder {
        color: #173627;
      }

      .form-grid .person-amount {
        grid-column: 3/4;
        text-align: center;
      }

      .form-grid .person-amount input {
        width: 86px;
      }

      .form-grid .label {
        grid-column: 1/3;
        text-align: right;
      }

      .total p {
        font-weight: bold;
      }

      .person-amount p {
        font-weight: bold;
      }

      .person-amount:nth-last-child(2) {
        border-top: 1px solid #173627;
      }

      .checkout-container {
        text-align: center;
      }

      .error:not(input) {
        font-weight: bold;
        font-size: 15px;
        color: red;
        margin-top: 0.6rem;
      }

      .modal {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: rgba(0,0,0,0.9);
        z-index: 20;
      }

      .modal p {
        font-weight: bold;
      }

      .modal textarea {
        padding: 0.3rem;
        width: 100%;
        max-width: 90vw;
        height: 300px;
        font-size: 15px;
      }

/* red red red red red red red red red */


      @media (min-width: 600px) {

        .modal textarea {
          padding: 1rem;
          width: 100%;
          max-width: 60vw;
          height: 300px;
          font-size: 18px;
        }

        .form-grid .person {
          padding: 0 1rem;
        }

        .form-grid {
          padding: 0;
        }

        .form-grid p {
          font-size: 18px;
        }

        .form-grid .heading p{
          font-size: 18px;
        }

        .form-placement {
          width: 460px;
          padding-top: 1px;
        }

        #footer > div:nth-child(2) {
          grid-column: 2/3;
          grid-row: 1/2;
          justify-content: center;
          text-align: center;
        }

        #footer > div:nth-child(3) {
          grid-column: 1/3;
          grid-row: 2/3;
        }

        #footer > div:nth-child(4) {
          grid-column: 1/3;
          grid-row: 3/4;
        }

        #footer .logo {
          margin-left: 5vw;
        }

        .footer-btns {
          margin-right: 20vw;
        }

        .justify-content-md-start {
          justify-content: start;
        }

        .flex-grow-md-0 {
          flex-grow: 0;
        }

        .subscription  input {
          min-width: 600px;
        }

        .place-4 .font-name {
          display: inline;
        }

        .place-4 svg {
          width: 14px;
        }

        .place-5 {
          padding-bottom: 5px;
        }

        .place-3 {
          align-self: auto;
        }

        .place-3 svg {
          display: inline-block;
        }

        .content-grid {
          grid-template-columns: repeat(4,1fr);
          grid-gap: 1rem;
        }

        .content-grid > .card {
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          padding: 1rem;
        }

        .px-md-2 {
          padding-left: 2rem;
          padding-right: 2rem;
        }

        .pt-md-2 {
          padding-top: 2rem;
        }

        .font-card {
          font-size: 14px;
        }

        .card-hover > p {
          font-weight: bold;
          font-size: 15px;
        }

        .ml-md-point5 {
          margin-left: 0.5rem;
        }

        input::placeholder {
          font-size: 18px;
        }

        .form-control {
          padding: 0.6rem 1rem;
        }

        .text-brand {
          font-style: normal;
          font-weight: bold;
          font-size: 76px;
          line-height: 93px;
        }

        .item-2 > p {
          font-style: normal;
          font-weight: 900;
          font-size: 28px;
          line-height: 34px;
          padding-left: 0rem;
        }

        .nav-item {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 18px;
        }

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
        }

        .footer-headings {
          font-style: normal;
          font-weight: bold;
          font-size: 23px;
          line-height: 28px;
        }

        .nav-items {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
        }

        .d-md-none {
          display: none;
        }

        .d-md-block {
          display: block !important;
        }

        .item-2 {
          grid-column: 2/3;
          grid-row: 2/3;
          align-self: center;
          margin-left: -5rem;
          margin-right: -7rem;
        }

        .item-2 > img {
          margin-left: -65px;
        }

        .item-1 > img {
          width: 115px;
        }

        .d-md-flex {
          display: flex !important;
          justify-content: center;
        }

        .btn {
          font-size: 18px;
        }

        .badge {
          font-size: 11px;
        }

        .form-placement > p {
          font-weight: bold;
          font-size: 18px;
          color: #173627;
        }

      }
